[2014-12-03 05:09] freeformz opened #5 "Does not work with HTTP git push"
At least with `$GO_GIT_DESCRIBE_SYMBOL` set. It works w/o.
[code]

[2015-01-07 18:31] tt commented on #5
This applies to the first push over SSH too.

[2015-01-07 22:08] freeformz commented on #5
So what's available at build time that I can use to duplicate this instead of this hack ?

[2015-01-29 16:53] freeformz commented on #5
Resolved with the removal of GO_GIT_DESCRIBE_SYMBOL. ATM you can't use the linker to replace strings.

[2015-01-29 19:12] tt commented on #5
This is in fact a problem. We rely on this feature for Endosome and based on [this search](https://github.com/search?q=GO_GIT_DESCRIBE_SYMBOL+%40heroku&type=Code&utf8=✓), it's probably required elsewhere too.

[2015-01-29 23:39] freeformz commented on #5
Well I need something that will work on both the platform and the kernel. We don't need to actually run the command here and I'm tempted to basically make it this:

`godep go install -ldflags "-X main.version=$VERSION" ./...`

So as long as your various main packages has a `var ( version string )` this just get's embedded properly.

[2015-01-29 23:41] freeformz commented on #5
Something like the above would also be build environment agnostic (as long as the ENV var was supplied by the build team). This way github integration could "set the right thing" there as well.

[2015-01-30 00:02] sclasen commented on #5
still unclear to me why this broke? it used to work...

On Thu, Jan 29, 2015 at 3:41 PM, Edward Muller <notifications@github.com>
wrote:

[2015-01-30 00:51] freeformz commented on #5
@sclasen It was removed from upstream and it doesn't work on the platform with HTTP git pushes because the build pack isn't evoked in a git directory.

[2015-01-30 09:47] tt commented on #5
I'd like to still support being able to specify the symbol; we can default to `main.version` alright, but it may not be how you wire up your application.

I think reading `VERSION` is a good suggestion and considering we already have that in the build API, it should be straightforward to pass through to the buildpack.

[2015-01-30 17:43] freeformz commented on #5
@sclasen because it relies on a git repo and the git repo isn't there reliably.

@tt I'm fine with still being able to specify the symbol, but defaulting to main.version, but IMO you're likely using it wrong (I did that at first as well) most other ways that I've seen it being used.

[2015-01-30 17:44] freeformz commented on #5
@tt So, when can I/we have $VERSION (or whatever you guys decide) in the build environment?

[2015-02-03 22:27] #5 closed

[2015-02-17 02:54] FLYBYME opened #10 "Detecting Node.JS app."
Im trying to run this buildpack on this project https://github.com/c9/core.

The project is a nodejs app but because it has a *.go file its been detected as a go app.

I don't think the detection is as good as it could be. Maybe just look in the bin folder or root folder for a go file.

[2015-02-17 08:39] dmathieu commented on #10
Hi,

Go is not one of our official buildpacks. You can find that list here:
https://devcenter.heroku.com/articles/buildpacks#default-buildpacks
Are you sure there isn't a `BUILDPACK_URL` config variable defined on your app?

If Go were a default buildpack though, this issue could happen anyway. When compiling your app, we take all our default buildpacks in the order specified in our documentation

[2015-02-17 08:39] #10 closed

[2015-02-18 01:29] FLYBYME commented on #10
I'm not using heroku. And it is a bug.

[2015-02-18 07:48] dmathieu commented on #10
Tim,

Could you better describe your use case then?
Whatever platform you're using with this buildpack, you should probably lookup their own way of explicitely specifying the nodejs one.

[2015-03-23 14:22] flavorjones opened #11 "heroku-buildpack-go does not have a license."
Hello awesome buildpack maintainers!

I noticed that the buildpack does not have a clear license declared, either in the README or in a separate license file.

I'd like to humbly suggest that you put a license on the code, to encourage re-use and contributions.

Thanks so much for your time and consideration,
-mike

[2015-04-03 21:01] #11 closed

[2015-05-30 22:33] austinpray opened #81 "GOPATH missing "o""
https://github.com/heroku/heroku-buildpack-go/blob/6eeb09f5372b23a844bc27302f205a82be9ac4f8/bin/compile#L103

I see:

[code]

When I expect it to be:

[code]

Do you guys agree?

[2015-05-31 01:07] cyx commented on #81
Yes great catch.

On Sat, May 30, 2015 at 3:33 PM, Austin Pray notifications@github.com
wrote:

[2015-05-31 15:12] austinpray commented on #81
went ahead and patched it: https://github.com/heroku/heroku-buildpack-go/pull/82

[2015-06-01 16:05] #81 closed, assigned to nobody

[2015-06-03 03:27] kr commented on #81
The choice of `g` was deliberate, but `go` is ok too. It doesn't really matter.

[2015-06-03 16:57] austinpray commented on #81
@kr ah, I see. thanks for clarifying. IMO this change makes it much more clear as to what is going on. Especially with [how the go docs are written](https://golang.org/doc/code.html) regarding GOPATH: `GOPATH=$HOME/go`

[2015-06-23 12:57] fzerorubigd opened #84 "Support for gb"
gb (https://github.com/constabulary/gb) is new tool to handle projects in go. gb is backward compatible and I use this build pack with normal go build, but it's good to have better support for gb.

[2015-06-23 13:03] elithrar commented on #84
I just recently brought this up in another issue: https://github.com/heroku/heroku-buildpack-go/issues/63#issuecomment-111359322

Thus far I believe Heroku's plan is to wait until until Go 1.5 (July 31st) where we can call `GO15VENDOREXPERIMENT =1 go build .` to use the new vendoring behaviour:

You can refer to these two CL's for some extra context:
- https://go-review.googlesource.com/#/c/10923/

[2015-07-02 19:44] shawnzhu opened #86 "should verify Godeps and Godeps.json file format prior to parsing by jq"
I asked [this question](http://stackoverflow.com/questions/31191580/compiling-error-when-using-community-golang-buildpack-on-bluemix/31192084#31192084) for help from stackoverflow about following error message reported from buildpack:

[code]
## root cause

It costs me some time to locate this `parse error` because it doesn't provide any information about context. Although I figured it out that it

[2015-07-11 06:21] kr commented on #86
We could do this with something like

[code]

modulo bikeshedding.

[2015-07-14 16:24] #86 closed, assigned to nobody

[2015-07-14 22:52] paxan commented on #84
I've created an independent [buildpack for gb.](https://github.com/paxan/heroku-buildpack-gb) It works for Go apps in our org. But I doubt it can be merged or mixed-in with this buildpack because `gb` misses some crucial stuff such as tags (last time I checked).

There was some brief convo about this in gb repo:
https://github.com/constabulary/gb/issues/85

[2015-07-20 18:54] brandur opened #89 "Build inconsistency when pushing go to Heroku"
Hey @freeformz, I might need some expert help with one :) I have a project that I've managed to push to Heroku many times successfully in the past, but after a minor refactor, will no longer build.

It seems that the package that I refactored can't be located:

[code]

It builds fine [on Travis](https://magnum.travis-ci.com/heroku/midgard/builds/13760864) though, and also locally:

[code]

It seem

[2015-07-20 20:28] freeformz commented on #89
@brandur Looking at this now. Thanks for the detailed bug report.

[2015-07-20 20:48] freeformz commented on #89
@brandur I don't think this is actually related to the go buildpack. Looking into it more with others.

[2015-07-20 21:46] freeformz commented on #89
This turns out to be heroku pruning a dir rooted in your repo named `log`. Should be fixed "soonish".

[2015-07-20 23:02] brandur commented on #89
@freeformz Hah, sweet. Thanks for taking a look into this one. Closing it out.

[2015-07-20 23:02] #89 closed, assigned to nobody

[2015-07-23 16:12] freeformz commented on #89
@brandur the fix for this is now deployed,.

[2015-07-23 16:13] brandur commented on #89
@freeformz You rock. Thanks!

[2015-07-23 16:14] freeformz commented on #89
@brandur Thanks, but all credit goes to @ojacobson for fixing and deploying the affected system.

[2015-08-20 07:51] ebramanti opened #91 "Support for Nut"
It would be great if this buildpack supported [Nut](https://github.com/jingweno/nut), a pretty popular dependency manager for Go. I'm working on this on a fork, but I'm curious if anyone else is interested in having this added to the buildpack.

[2015-08-28 22:42] freeformz commented on #84
For now I've decided to support gb via https://hub.docker.com/r/heroku/go-gb/ (source: https://github.com/heroku/docker-go-gb)

[2015-08-28 22:43] #84 closed, assigned to nobody

[2015-09-19 16:58] bithavoc commented on #91
:+1:

[2015-09-19 17:03] bithavoc opened #96 "Fails to compile basic go app"
[code]

[2015-09-19 17:13] bithavoc commented on #96
my bad, was not using the latests `godep` with 1.5

[2015-09-19 17:13] #96 closed, assigned to nobody

[2015-09-22 04:28] ebramanti commented on #91
@bithavoc I've gotten it to work somewhat, but I've pretty much broken the buildpack's normal functionality to do it. Can you try forking and seeing if you can make any progress?

[2015-09-22 16:10] freeformz commented on #91
Personally (not speaking for my position @ Heroku) I'd much rather spend time adding support for vendor-spec, which all of these tools should support, especially as Go 1.6 approaches. I am working towards that with godep atm (albeit slowly).

With that said (putting my Heroku hat on). Is there sufficient interest in supporting NUT? The author of which also works @ Heroku. If you want support for h

[2015-09-22 17:09] ebramanti commented on #91
:+1:

[2015-09-22 17:10] ebramanti commented on #91
@jingweno would you be interested in seeing support for this with Heroku?

[2015-09-22 17:25] owenthereal commented on #91
I :+1: to this. But that may require changes to `nut` to declare Go version etc. that the buildpack needs.

[2015-09-22 20:46] bithavoc commented on #91
I second @freeformz on this.

[2015-09-22 21:06] ebramanti commented on #91
@bithavoc second on vendor support or Nut?

[2015-09-22 23:09] freeformz commented on #91
@jadengore IMO Nut + godep + buildpack supporting the vendor spec is the best outcome, but I understand the argument for interim support of Nut though, as long as nut provides all of the information necessary to compile the code reproducibly (like go version).

[2015-09-22 23:59] ebramanti commented on #91
@freeformz I have Nut working specifically for the app I'm working on, but my fork has significantly diverged and I don't have too much shell scripting experience to know if this is ready for public release.

What I plan to do is iterate on my work and have a PR for discussion/amendments so that maybe we can get this merged in with Nut support.

[2015-09-23 00:59] freeformz commented on #91
@jadengore SGTM Having something to review is probably best.

[2015-10-05 21:26] freeformz commented on #91
Can Nut not support the vendor-spec instead?

[2015-10-14 21:55] mavenraven opened #99 "tests exercising the go linker functionality"
Hi there,
We're about to pull this change from you into our buildpack:
https://github.com/heroku/heroku-buildpack-go/commit/a0a82e1a3fc0d0a2158b24826b2e6c45559799cd

We wrote these tests to exercise this functionality if you're interested in pulling them in:
https://github.com/cloudfoundry/go-buildpack/commit/3a6deb112ffe2da76614de1c350f904d9192d859

Thanks!

[2015-10-16 17:41] flavorjones commented on #99
For full context, the Cloud Foundry team maintains a buildpack that's downstream from heroku's buildpack.

The `-ldflags` feature didn't have test coverage, so we added test coverage downstream. This ticket is just pointing out our tests, in case Heroku wants to pull them in (or do something similar) in the Heroku repo.

Thanks!

[2015-10-20 18:15] jtarchie opened #100 "use wildcard for patch-level versioning"
Given I'm a Goalng app developer,
When I push my app to a cloud platform with `"GoVersion": "1.4.*"`,
Then the golang buildpack should select the latest stable 1.4.x of golang,
And successfully stage the app.

This is reference to the [discussion](https://github.com/tools/godep/issues/297) on `godeps` with @freeformz .

[2015-10-21 06:46] kr commented on #100
Consider redefining godep's behavior from "record whatever 'go version' says" to "record the version string of the major release of Go being used" (but not the minor revision, if one is being used). So if the user is using Go 1.5.1, it would record `1.5` in the GoVersion field.

Then buildpacks can pick whatever minor revision they want. (Probably always the newest one.) It should be _extremely_ r

[2015-10-21 06:47] kr commented on #100
(If I could go back in time, I would have done it that way from the start.)

[2015-11-09 13:29] flavorjones commented on #100
@kr I like this idea as well. Would you accept a PR that would simply save `major.minor` in the GoVersion field?

[2015-11-10 16:46] petebrowne opened #101 "Godeps.json without Packages field causes error"
If a `Godeps.json` file does not contain a `Packages` field, the build fails with the following error:

`jq: error (at <stdin>:92): Cannot iterate over null (null)`

[2015-11-10 17:40] freeformz commented on #101
Are you using the GO15VENDOREXPERIMENT?

[2015-11-10 17:44] petebrowne commented on #101
Yeah sorry forgot to mention that

[2015-11-10 17:46] freeformz commented on #101
If it's not set then I'd have to default to '.'. Do you mind if I peak at your app?

[2015-11-10 17:49] petebrowne commented on #101
It's private, here's my Godeps.json file:

[code]

If I add `"Packages": []`, it works. But that gets removed when I run `godep save` again

[2015-11-10 18:09] freeformz commented on #101
Can you try the following and tell me if it works:

[code]

[2015-11-10 19:24] petebrowne commented on #101
That worked!

[2015-11-10 19:29] #101 closed, assigned to nobody

[2015-11-10 19:30] petebrowne commented on #101
Thanks!

[2015-11-10 19:31] freeformz commented on #101
This is deployed as v20 and you can unset the BP in  ~15 minutes.

[2015-11-13 15:37] jtarchie opened #103 "licensing for package `godep`"
The godep [License](https://github.com/tools/godep/blob/master/License) on clause 2, specifies that the license file must appear in the disclaimer/documentation of the code that is including it as a binary.

The binary [godep](https://github.com/cloudfoundry/go-buildpack/blob/master/linux-amd64/bin/godep) is being packaged with the buildpack.

The buildpack should be including the license, for leg

[2015-11-13 16:37] jtarchie commented on #100
Taken from the discussion on [PR](https://github.com/tools/godep/pull/318):

@freeformz what were you thinking this has to come in after the buildpack supports it? It is a bit of the chicken an egg problem, I guess. In my humble opinion, the minor version resolution should happen in the buildpack and not via some third party service, like the nodejs buildpack does.

[2015-11-16 16:53] jtarchie commented on #100
@freeformz, do you have an idea how we would evaluate the latest minor release based only the major version?

Some ideas:
1. just keep track of all the current versions in the script
2. 3rd party API, like the nodejs buildpack, but I don't relying on external service because if it is down, you cannot deploy your app
3. if the current version does not download, add increment/decrement minor and ret

[2015-11-24 17:43] ecordell opened #104 "Go executable available after build?"
It would be useful to have the `go` command available after the compile step for running management commands (with `go run`).

Is there any reason it's not currently available? I see that it is installed in `${build_dir}/.heroku/go`, but `${build_dir}/.heroku` is removed after compiling.

[2015-11-26 21:21] kr commented on #104
This is a tough call. My two cents:

I agree it's useful to be able to 'go run' things in the app. On the other hand, the slug would be bigger if it included the compiler and standard library. The common case is starting ordinary dynos that don't need the compiler, and a larger slug makes dynos take longer to start up.

I'm not sure if it's worth making that common operation slower for the benefit

[2015-12-02 18:07] freeformz commented on #104
To even make this useful the slug's directories would need to be a proper Go workspace. This is the way the docker image works right now and I'm been thinking of aligning them.

@ecordell What are your use cases for having go available in the slug?

[2016-01-06 23:43] pspeter3 opened #106 "Add glide support"
[Glide](https://github.com/Masterminds/glide) is a well thought out Go 1.5 package manager that seems like a good choice for applications and Heroku buildpack support would be great.

[2016-01-09 03:29] erbridge commented on #106
My fork has been hacked together to do that, FYI: https://github.com/erbridge/heroku-buildpack-go

[2016-01-12 18:07] freeformz commented on #106
It's something we (Heroku) would have to support beyond just being able to build code via the buildpack. ATM we're not ready to support it.

I'd encourage Heroku users to open a support ticket asking for this if they want it.

If there is enough interest we'll certainly consider supporting it.

In the meantime there are community supported buildpacks/forks that offer it.

[2016-01-20 18:09] freeformz commented on #100
@jtarchie I'm going to close this. Changes late last year to godep and the buildpack allow specifying only the major version of go.

[2016-01-20 18:09] #100 closed, assigned to nobody

[2016-01-20 19:12] jtarchie commented on #100
Thanks @freeformz, the Cloud Foundry team just released their support for the feature, too. We read the version numbers that we support for go from a [manifest](https://github.com/cloudfoundry/go-buildpack/blob/master/manifest.yml).

Thanks for all the work!

[2016-01-31 15:37] danp opened #108 "old versions no longer fetchable"
The buildpack assumes versions <1.2.2 are available at URLs such as:

[code]

I think with the [Google Code shutdown](http://google-opensource.blogspot.ca/2015/03/farewell-to-google-code.html) these have moved to URLs like:

[code]

[2016-02-01 21:50] #108 closed, assigned to nobody

[2016-02-12 15:55] krancour commented on #106
I know this is closed, but +1 on this.  It would be nice to see this supported in the _official_ go buildpack.

[2016-02-16 19:59] freeformz commented on #106
FWIW: I'm planning on starting this after support for govendor, which I hope to start soon.

[2016-02-19 18:02] aeneasr opened #112 "GO15VENDOREXPERIMENT is now default with Go 1.6"
However I'm getting:

[code]

[2016-02-19 18:04] aeneasr commented on #112
I've added `GO15VENDOREXPERIMENT=1` to the env vars in heroku, still same error..maybe I'm doing something wrong?

[2016-02-19 18:04] freeformz commented on #112
Which version of godep did you use (godep version) to create / update the repo?

What are the contents of Godeps/Godeps.jon?

PS: It's probably best to open a ticket at help.heroku.com

[2016-02-19 18:06] freeformz commented on #112
You also probably don't want to be using ./... as your package spec as that will try to compile non required files in vendor (which shouldn't be vendored in the first place).

Where in your repo are you main package(s) ?

[2016-02-19 18:09] aeneasr commented on #112
Hey thanks for the super-quick reply. Here's my godep: https://github.com/ory-am/hydra/blob/heroku/Godeps/Godeps.json

What do you mean by _package spec_ in:

Regarding main packages:

They (multiple executables) are in subdirectories `./cli/hydra-host`, `./cli/hydra-logon`, ... but only `hydra-host` must be executed.

[2016-02-19 18:10] aeneasr commented on #112
I think the way to hotfix this bug right now is with `$ go <cmd> $(go list ./... | grep -v /vendor/)`

[2016-02-19 18:11] freeformz commented on #112
re: package spec: `godep save <args>`. The `<args>` are the package spec(s) you've asked godep to save. You probably want to run `godep save ./cli/...` instead of `./...` and then everything will DTRT.

[2016-02-19 18:11] aeneasr commented on #112
Ah nice, I didn't know that! Thanks I'll try that!

[2016-02-19 18:16] aeneasr commented on #112
Perfect, this seems to be working. Thanks for the hint, should I document this somewhere?

[2016-02-19 18:29] freeformz commented on #112
I've updated some of the devcenter.heroku.com articles to remove traces of ./..., but I should probably call it out somewhere. Thoughts?

[2016-02-19 19:32] aeneasr commented on #112
Hm maybe in the buildpack readme? And in the devcenter as well? Maybe as an FAQ section or something (I've seen this issue on SO as well, but without solution)

[2016-02-19 21:19] #112 closed, assigned to nobody

[2016-03-14 19:00] paganotoni opened #114 "Plain /vendor folder support"
First of all thanks for all the effort building this buildpack to make heroku support Go.
is there a reason why this buildpack does not support a simple /vendor folder + GO15VENDOREXPERIMENT=1?.

Regards!

[2016-03-14 22:07] freeformz commented on #114
1. the `$GO15VENDOREXPERIMENT` env var (nor is `$GOVERSION` ) isn't available at detection time.
2. `vendor/` is present in may ruby apps (maybe others) so there would be a detection conflict if we just detected the directory.
3. We need to know the appropriate directory to place your go code into during compilation, so that packages that are self referential compile correctly. I have an idea abou

[2016-03-14 22:10] freeformz commented on #114
With that said, I do plan on supporting glide and govendor. ATM you could use those tools and fake things out by creating a `Godeps/Godeps.json` file with these minimal contents:

[code]

[2016-03-14 22:13] paganotoni commented on #114
@freeformz thanks for taking time to explain this to me, i will follow your advise and use something like glide or govendor, much appreciated!

[2016-03-14 22:21] freeformz commented on #114
Great. Please open a support ticket if you have any issues, have support escalate to me if they tell you glide / govendor aren't supported and I'll take a look. I'll also keep your info handy if you are interested in trying out a new branch supporting your tool when it's ready.

[2016-03-14 22:39] #114 closed, assigned to nobody

[2016-03-16 15:11] ngauthier opened #115 "Go application not detected according to README requirements"
Hi!

In the readme, it states:

However, this is not true, as in `detect` it checks for Godeps or gb configurations. That means that if a simple repo with only `main.go` in it is tested, `detect` will fail. The repo must either have a Godeps folder and Godeps.json, or a src directory with a go file in it.

I am happy to make a PR, but please let me know which you would prefer:
1. Change README to

[2016-03-16 17:05] freeformz commented on #115
It would have to be #1 or #3. It's very possible to get valid go repos that contain no .go files in the **root** of the repo. We also shouldn't blindly search for any .go files either and I've seen valid repos that are ruby apps that contain .go files. I am open to other suggestions or improvements though.

[2016-03-16 17:36] ngauthier commented on #115
After digging more I realized your compile system depends on godeps or gb, so we'd have to write a new one for when those aren't present. I'll submit a pr to update the readme.

[2016-03-16 17:48] freeformz commented on #115
At the very least the `Godeps.json` file is required with some minimal info, see here: https://github.com/heroku/heroku-buildpack-go/issues/114#issuecomment-196542765

[2016-03-16 17:59] #115 closed, assigned to nobody

[2016-03-17 16:29] freeformz commented on #114
@apaganobeleno FYI: This is basically unsupported ATM, but there is this as well: https://github.com/heroku/heroku-buildpack-go/compare/govendor?w=1

I'm not sure I like having to add the build stuff to `vendor.json` though.

[2016-03-18 20:52] dfuentes77 commented on #106
:+1: Govendor and Glide would be great alongside Godep support since they seem to be a bit more mature in features.

[2016-03-18 21:42] freeformz commented on #106
WIP: https://github.com/heroku/heroku-buildpack-go/tree/govendor2

[2016-04-18 15:54] raphaeljlps commented on #106
any updates on the progress ?

[2016-04-18 16:13] freeformz commented on #106
govendor is supported by the buildpack and has some supporting docs. Glide is up next.

[2016-04-27 16:02] RochesterinNYC opened #121 "Go Buildpack Test Suite not passing when run in dyno"
Hi, I'm running the heroku go buildpack test suite in a dyno as per the instructions in https://github.com/heroku/heroku-buildpack-testrunner#running-buildpack-tests-on-heroku, and the test suite does not pass. Is there some configuration or run step that I am missing or is this the current expected state of the test suite?

[code]

Thanks for your time and clarifications.

[2016-04-27 16:12] freeformz commented on #121
I need to remove the test directroy as those tests aren't run. I currently use a set of internal integration tests.

[2016-04-27 16:12] #121 closed, assigned to nobody

[2016-04-28 21:13] RochesterinNYC commented on #121
Reference: removed via https://github.com/heroku/heroku-buildpack-go/commit/80fa62172f00aeabe240f2bc9d05f94d68824e7a

@freeformz can I ask why those integration tests are internal? It'd be great to have those be open to the community as we'd be able to make pull requests with greater confidence after having checked them against the test suite.

[2016-04-28 21:32] freeformz commented on #121
@RochesterinNYC They are internal because the testing framework is internal. I'll probably steal some stuff from the nodejs buildpack, which uses Docker and shunit and just start re-doing the tests as the buildpack is getting more complex these days.

[2016-04-28 21:33] freeformz commented on #121
For clarity ... The buildpack should have a bunch of public unit tests as well as the internal integration tests.

[2016-04-28 22:10] RochesterinNYC commented on #121
Oh okay, this is a different testing framework from https://github.com/heroku/heroku-buildpack-testrunner?

And I'm not sure what you mean by the public unit tests? Are they located somewhere in this repo?

[2016-04-28 23:56] freeformz commented on #121
@RochesterinNYC _should_, meaning they need to be written.

[2016-04-29 01:32] freeformz commented on #121
@RochesterinNYC Here is a start #123

[2016-05-04 21:41] freeformz commented on #99
There is now a test for this when using godep, but handling is the same no matter which manager is in use atm: https://github.com/heroku/heroku-buildpack-go/blob/master/test/run#L112-L127

[2016-05-04 21:41] #99 closed, assigned to nobody

[2016-05-04 21:46] #103 closed, assigned to freeformz

[2016-05-04 21:47] freeformz commented on #104
Closing as it's been here for a long time w/o response.

[2016-05-04 21:47] #104 closed, assigned to nobody

[2016-05-04 22:47] jtarchie commented on #103
Thank you. @flavorjones ^^^

[2016-05-06 14:12] flavorjones commented on #103
:thumbsup:

[2016-05-17 13:19] plispe opened #126 "Govendor fail when vendor/*/ is in .gitignore"
I would like to deploy go app to Heroku, but when I have vendor/*/ in .gitingore, deploy fails with following output

remote: Building source: remote:
remote: -----> Using set buildpack heroku/go
remote: -----> Go app detected remote: -----> Checking vendor/vendor.json file.
remote: -----> Installing go1.6.2... done
remote: -----> Running: go install -v -tags heroku ./...
remote: server.go:6:2: ca

[2016-05-17 16:14] kevinburkeshyp opened #127 "All connections to Go app fail with "Backend connection timeout" for several minutes"
Hi,
I have a [Go app](github.com/Shyp/rickover) deployed to Heroku. It listens for incoming traffic via http.ListenAndServe on a http.Handler.

We see every request to the app fail with "Backend connection timeout" for a period of about 5 minutes. This has happened 3 times on 2 different apps in the last day.

The app is using about 10MB of RAM, and less than 10% of the CPU (even less when it is n

[2016-05-17 16:25] freeformz commented on #127
Thanks for bringing this to my attention. I'm going to close this because the issue is (likely) not related to the buildpack. I'll take a look at the app, our metrics, etc and update that ticket.

[2016-05-17 16:25] #127 closed, assigned to nobody

[2016-05-17 17:50] #126 closed, assigned to nobody

[2016-05-17 17:53] freeformz commented on #126
@plispe I've added this to master. If you `heroku buildpacks:set https://github.com/heroku/heroku-buildpack-go.git` can you try pushing again w/o anything except `vendor.json` in `vendor/` ? If everything goes okay I'll release it as v39 (and then you won't need to set a buildpack).

[2016-05-17 20:13] plispe commented on #126
I tried your fix and it works like a charm 👍. Thank you very much.

[2016-05-17 20:50] freeformz commented on #126
@plispe Released as v39 of the buildpack. In about ~30m you can change your buildpack back (`heroku buildpacks:set heroku/go`) and it should continue to work on next push.

[2016-05-19 01:25] jobi opened #128 "GB support expects go file in src/ bug GB doesn't"
I'm just getting started with GB so I could be wrong, but if I understand correctly, GB now expects files to be put in subdirectories of `src/`, while the go buildpack looks for a go file in `src/`. I had to create a `src/dummy.go` file for the buildpack to recognize my project as being go / GB

[2016-05-19 16:22] freeformz commented on #128
it looks for any .go files in src and it's sub directories: https://github.com/heroku/heroku-buildpack-go/blob/9d828217e58e6976ed1098c3d0980dc291a12b35/bin/detect#L8

The tests that I have for GB don't include a .go file in src, but in a sub directory: https://github.com/heroku/heroku-buildpack-go/tree/9d828217e58e6976ed1098c3d0980dc291a12b35/test/fixtures/gb-vendor/src

[2016-05-19 16:22] freeformz commented on #128
Do you have the build output from the failed build?

[2016-06-07 22:40] mattgraham opened #132 "Add Officially Supported Buildpack Image"
Creating an issue so I can link the image. This may change in the future as we get our marketing copy worked out but for now this will work as a v1.

![go_buildpack](https://cloud.githubusercontent.com/assets/51578/15877053/53506724-2cdf-11e6-878c-e2ef60ba741f.png)

[2016-06-07 22:57] #132 closed, assigned to nobody

[2016-06-07 22:57] freeformz commented on #132
Thanks!

[2016-06-09 20:26] freeformz commented on #128
This was closed by 9b9ba7124c6f61eace947a7858e17351edc07e21

[2016-06-09 20:26] #128 closed, assigned to nobody

[2016-06-09 20:27] freeformz commented on #106
Closed by 8aab99452d54c54d7f469e91505a5b4bc30b2672. On master right now, need to get a bunch of internal stuff in line before releasing officially though.

[2016-06-09 20:27] #106 closed, assigned to nobody

[2016-06-11 12:43] FranzBusch opened #135 "Buildpack not detected when using glide"
Hi,

I created a new project and set the buildpack to heroku/go. Every time I deploy it says "failed to detect buildpack". I am using glide and locally everything builds and runs fine.

Here is the repository if you want to have look:
https://github.com/FranzBusch/myteamapi

[2016-06-14 00:15] freeformz commented on #135
ATM you have to use the master branch as I haven't released it yet to `heroku/go`. You can use master by doing the following: `heroku buildpacks:set https://github.com/heroku/heroku-buildpack-go.git`.

[2016-06-14 08:04] FranzBusch commented on #135
Ah, thank you :)

[2016-06-22 06:18] brunchybit opened #136 "can't fetch dependencies"
I'm pretty sure this is me, but I'm wondering why I can't get my heroku build to succeed. I'm getting a stack trace that says the dependencies can't be found, as below:

[code]

Again this is probably something configuration wise that I'm missing, as I'm a noob, but any help would be appreciated.

[2016-06-22 18:32] freeformz commented on #136
godep requires that `vendor/` be checked in. AFAICT from that output `vendor/` or at least parts of it aren't checked in. The buildpack also supports `govendor`, which doesn't have that requirement: https://github.com/kardianos/govendor/blob/master/doc/faq.md#q-how-do-i-prevent-vendor-source-from-being-checked-in

[2016-06-22 18:32] freeformz commented on #136
See also: https://devcenter.heroku.com/articles/go-dependencies-via-govendor

[2016-06-23 03:40] brunchybit commented on #136
Yup, you're absolutely right @freeformz I should have checked my `.gitignore` more carefully. Thanks for the response

[2016-06-23 03:40] #136 closed, assigned to nobody

[2016-07-08 03:51] freeformz commented on #135
This is now released, so you have `heroku buildpacks:set heroku/go` and it should work.

[2016-07-08 03:51] #135 closed, assigned to nobody

[2016-07-08 04:01] freeformz opened #137 "More helpful errors when packages are missing."
When someone get's a 'cannot find package ' error from go install, catch it, examine it and recommend checking in vendor/\* (in the case of godep) ... Possibly other actions for other managers.

[2016-07-19 18:13] dz0ny opened #138 "Deprecated or unsupported version of go (go1.6.3)"
[code]

[2016-07-20 17:30] freeformz commented on #138
Sorry about that. Should be fixed in 91c7eeae6c4e89ea08be0c11b42580594b1f5153, which was released as v44.

[2016-07-20 17:30] #138 closed, assigned to nobody

[2016-08-26 16:50] potatogopher opened #143 "glide: can't find executable"
I am using glide for the heroku buildpack and go1.6.3.

I get the following warnings and errors when installing. The inflect package is looking for the `hg` executable. Is the build pack not installing required executables for a package to work? Is there a work around to make this work?

[code]

[2016-08-26 17:10] freeformz commented on #143
I'll have to modify the bp so that it installs hg as it's not part of the stack image.

[2016-09-06 22:05] lpar opened #146 "Pushing apps with native Go vendoring doesn't seem to work"
According to [the documentation](http://docs.cloudfoundry.org/buildpacks/go/#pushing_Apps_with_native_Go_vendoring) you can use only native Go vendoring, as long as you specify the package name in the `manifest.yml` file.

In reality, this doesn't seem to be supported -- the buildpack tells me I have to use gb, glide, govendor or godep.

[2016-09-06 22:43] freeformz commented on #146
That should probably be a bug filed against Cloud Foundry. I would like to support a "no tool" option, but that's not supported ATM. FWIW: Those tools write to the "native Go vendoring" folder, so I don't know why you wouldn't use one of them if you have deps to vendor. And in the case of govendor with a project w/o deps we leverage the vendor/vendor.json file for build configuration.

[2016-09-06 22:43] #146 closed, assigned to nobody

[2016-09-16 20:08] chacken opened #148 "Glide can't find repo's using ssh"
For the following sample glide file, using git@  for repo throws Unable to checkout..

e.g.

[code]

result:

[code]

You're instead forced to use:

`repo: https://github.com/flosch/pongo2.git`

Not a HUGE issue, but it's one that took me longer than I care to admit to figure out.

[2016-09-19 12:14] azr opened #149 "govendor: can't easily manually update vendors"
Hello there,

Locally to my `/vendor/` dir I am trying to do little changes to a library that _might_ have issues.

But the buildpack will always do

[code]

which will always replace those little changes I made.

This can be avoided by committing those changes somewhere, but it'd be a pain.

I also believe code freedom inside`/vendor` is really important.

Is it possible to avoid this from happen

[2016-09-22 04:21] #149 closed, assigned to nobody

[2016-09-27 18:03] freeformz opened #156 "Change default package spec from '.' to './...'"
This has come up a few times and it seems like a lot of people end up setting either `./...` or `./cmd/...` as their package spec. With most (but not all) vendor management tools `./...` would just work.

Thoughts?

[2016-09-27 18:12] freeformz commented on #156
Or maybe detect if there is a `cmd/` directory and default to `./cmd/...` if it exists, './...' if there aren't any go files in the root of the project and '.' if there are?

[2016-09-29 22:50] diegossilveira opened #157 "Source code as package content"
After using `pkgr` with `heroku-buildpack-go` I noticed that all source code (*.go) and other files (that are just used on development time) were present on the final RPM. Is this the expected result? Is there some way to change this behavior, and package just the application binary, the vendor directory and the Procfile?

[2016-09-30 00:08] freeformz commented on #157
What is pkgr ?

[2016-09-30 00:22] freeformz commented on #148
This doesn't even work for me locally

[code]

[2016-10-05 18:37] freeformz commented on #148
This didn't work for me because my ssh key for use with github wasn't loaded. It's been a while since I've used ssh with git. :-)

Not sure there is much of anything to do here. If you are going to use ssh, then you need to make sure that there is a key present and in your auth agent, even for public repos.

You can verify that you can connect to github via ssh via `ssh -T git@github.com`.

Hope t

[2016-10-05 18:37] #148 closed, assigned to nobody

[2016-10-06 17:11] diegossilveira commented on #157
Sorry about that. [Packager](https://github.com/crohr/pkgr) (pkgr) is a project based on Heroku buildpacks that helps you packaging and distributing your applications. Besides pkgr has its own singularities, I believe this "issue" is related to this buildpack. Do you deploy the go source code on heroku or just the resulting binaries?

[2016-10-08 18:55] freeformz commented on #157
We deploy both as it's (a) more consistent with other build packs; (b) we
can't ensure what files the program would want to access during execution,
so only copying parts of the repo could be problematic (c) and with some
variables set you can also 'heroku run bash' and have a full, working go
environment.
On Thu, Oct 6, 2016 at 10:11 Diego Santos da Silveira <
notifications@github.com> wrote:

[2016-10-12 15:07] ggaaooppeenngg opened #160 "What if I want to install a third party main package?"
I am using godep, I make config like this

[code]

It runs `go install github.com/other/package/...`, report no package matches, I think this is because      that vendor directory is not a directory for go install to search, what I can do to add some main packages that I want use as a binary in my project?

[2016-10-12 17:10] freeformz commented on #160
`godep save ./... github.com/other/package/...`, will save `./...` and `github.com/other/package/...` to vendor. But you need to run that command like that every time. I suggest using `govendor` instead and using `govendor fetch github.com/other/package` and then in `vendor/vendor.json` add a `heroku.install` array like described here: https://devcenter.heroku.com/articles/go-dependencies-via-gove

[2016-10-12 17:10] #160 closed, assigned to nobody

[2016-10-13 13:10] diegossilveira commented on #157
@freeformz, thanks for clarifying!

[2016-10-13 13:10] #157 closed, assigned to nobody

[2016-10-24 20:24] francknouama commented on #106
+1 on this

[2016-12-21 07:25] FZambia opened #164 "Unable to set linker symbol"
Hello, I am trying to set `$GO_LINKER_SYMBOL` to set version of application on build stage.

Here is my [app.json](https://github.com/centrifugal/centrifugo/blob/master/app.json) file (I expect version to be default - SHA sum of commit: `$SOURCE_VERSION`) - looks like I do sth wrong as there is no version built in after deploy to Heroku (using `deploy to Heroku` button) but I can not understand ho

[2016-12-21 19:54] freeformz commented on #164
What app is this? I'd like to take a look at the build output.

[2016-12-21 19:54] freeformz commented on #164
PS: It's probably better to do this in a heroku ticket, than as an issue on the buildpack.

[2016-12-21 21:35] FZambia commented on #164
Here is an app - https://github.com/centrifugal/centrifugo, there is a `deploy to Heroku` button in project README. I provided a link to its `app.json` file in issue description. My app is http://centrifugo.herokuapp.com - I have not found any helpful details in build log that was available to me while deploying.

[2016-12-21 21:47] FZambia commented on #164
There is a line in BUILD log:

[code]

So looks like I just set `GO_LINKER_SYMBOL ` env var in wrong way because build flags do not include `-ldflags` - i.e. [this](https://github.com/heroku/heroku-buildpack-go/blob/master/bin/compile#L334) branch not executed. But I just can't find my mistake:)

[2016-12-22 19:40] freeformz commented on #164
Was this app deployed via a button (app.json)? I believe `$SOURCE_VERSION` isn't set during a push like this because we don't actually get the sha from github (or if we do get it doesn't make it through the pipeline properly).

[2016-12-22 21:17] FZambia commented on #164
Yes, via button, you are right - I just added explicit `GO_LINKER_VALUE` and everything works now. Thanks a lot for your help - this is not ideal as I need to set version manually after clicking on `deploy to heroku` button now but solves a problem. And actually I already set a lot of other vars during build.

If you know where to open issue to fix pipeline (if its possible) - could you take over

[2017-01-12 05:43] dabio opened #166 "How to deploy app without any dependencies"
This is not really an issue, but I'd like to know, how can I deploy go app without any dependency managers?

I tried a somewhat *hacky*workaround and bring my project into a gb-folder structure (src/**/*.go and vendor/src/). But is it possible without doing so?

[2017-01-16 22:26] freeformz commented on #166
The recommended solution is to just drop a basic `vendor/vendor.json`. This allows you to add `heroku` section to [customize build time](https://devcenter.heroku.com/articles/go-dependencies-via-govendor#build-configuration) behavior as well.

[2017-01-17 02:43] Kay-Zee opened #167 "Cannot deploy when using cache for go/glide/hg"
After release `v56`, I get this error:
[code]
when deploying, on any heroku app that have already been previously deployed to. If I deploy a fresh app, I do not get this error, instead, I get
[code]
and then the build moves on. If I try to deploy again to the same app with a trivial change, it will error.

Is there an easy way to disable the go/glide/hg cache?

[2017-01-17 03:26] freeformz commented on #167
Does the `fixGlide` branch solve the problem for you (it did for me)? You can test it by issuing:
`heroku buildpacks:set https://github.com/heroku/heroku-buildpack-go.git\#fixGlide` and then pushing again.

Thanks for the report and sorry this happened.

[2017-01-17 16:35] jeromegn commented on #167
I had the same issue and using that branch fixed it, thanks @freeformz

[2017-01-17 18:33] Kay-Zee commented on #167
That branch fixed it for me as well, thanks!

[2017-01-17 19:04] #167 closed, assigned to nobody

[2017-01-18 01:01] freeformz commented on #167
This is released now, so you can set your buildpack back to the released `heroku/go` buildpack via `heroku buildpacks:set heroku/go` (assuming you are only using the Go buildpack.

[2017-01-18 21:45] goenning opened #169 "go command not available during release phase"
Hi,

I'd like to run some `go` commands during `release` phase, but it doesn't seem to be available. Is there something I need/can do?

My Procfile:
[code]

My Makefile:
[code]

[2017-01-18 23:58] freeformz commented on #169
It's not really documented because it's currently only used for the test pack stuff and I may change the "interface" long term, but you can set `GO_INSTALL_TOOLS_IN_IMAGE` to `true` (`heroku config:set GO_INSTALL_TOOLS_IN_IMAGE=true`) to setup the go tool chain into the resulting slug. Note, this increases your slug size and dyno boot times a bit.

Additionally the app can be laid out inside of a

[2017-01-19 00:00] freeformz commented on #169
With that said I usually recommend vendoring migrate and telling the buildpack to install that package as well. This sidesteps needing the go tool change in your slug. What vendoring tool are you using?

[2017-01-19 07:03] goenning commented on #169
govendor. I'm not sure how to do what you said, can you provide me more information/docs? Thanks

EDIT: sorry, I didn't see your first comment. I'll try it out.

[2017-01-19 08:51] goenning commented on #169
It worked after setting both env variables, thanks!

But how do you `telling the buildpack to install that package as well`? I'd like to keep the slug without the `go` if that's not a standard.

[2017-01-20 04:59] freeformz commented on #169
Sorry about the late response. For govendor if you want to vendor migrate run `govendor fetch github.com/mattes/migrate` and in `vendor/vendor.json` add an element to the `heroku.install`  (or create it) array. This is called out in [this](https://devcenter.heroku.com/articles/go-support#vendoring-additional-main-packages) devcenter article.

[2017-01-20 04:59] #169 closed, assigned to nobody

[2017-02-17 23:13] Xe commented on #166
@dabio #174 has documentation on how to do this.

[2017-02-21 23:47] #166 closed, assigned to nobody

[2017-02-23 00:52] flockonus commented on #106
Happy you are supporting Glide!

Looks like it's didn't make into [Heroku - Go documentation](https://devcenter.heroku.com/articles/go-support) tho, took me some googling to find this issue

[2017-02-23 16:58] dfuentes77 commented on #106
same here.  would love official documentation on using Glide

[2017-03-05 03:00] FrozenPrincess opened #175 "Support the option to pass in -race to `go install`"
I can't find a way to pass in this flag, I'm guessing it's not yet supported. Would be nice to be able to pass in some arbitrary arguments to go install

[2017-03-06 01:19] andreycpp opened #176 "Is GB actually supported and how to use it with this Go buildpack?"
I'm having trouble using GB with Go buildpack. When I "git push heroku master" I'm getting "Failed to detect app matching buildpack" error (see below).

According to https://devcenter.heroku.com/articles/go-support#supported-dependency-vendor-managers, Heroku Go buildpack should do this check:

"3. has a src directory, which has sub directories, contains one or more .go files, identifying the appl

[2017-03-29 01:48] freeformz commented on #176
Sorry, I just saw this. Not sure what's up with my notifications. :-(

This should be working, with the exception that the Procfile is in the wrong place, but that shouldn't affect detection.

Given this structure (.git filtered out):
[code]

A `heroku create` and `git push heroku master` does the following:
[code]

`main.go` looks like this:
[code]

and the `Procfile` looks like this:
[code]

[2017-04-04 19:02] #176 closed, assigned to nobody

[2017-04-09 07:05] salismt opened #179 "goose cannot be imported, via govendor"
when I import goose, I got the following error
import "bitbucket.org/liamstask/goose/cmd/goose" is a program, not an importable package

How do I add goose and have goose command enable in my heroku instance?
I have read this "https://bitbucket.org/liamstask/goose/issues/55/heroku-instructions-no-longer-works-on-go"
but it's not compiling

[2017-04-23 19:28] client9 commented on #106
For those watching at home, Glide seems to work "as-is"  The build output references this article:

https://devcenter.heroku.com/articles/go-dependencies-via-glide

but it's "Coming Soon :tm:"

[code]

[2017-04-24 16:41] freeformz commented on #106
I updated [that article](https://devcenter.heroku.com/articles/go-dependencies-via-glide) to better represent reality. If you have issues with a Go app and Glide, the best way to ask questions is to open an issue [here](https://github.com/heroku/heroku-buildpack-go/issues/new).

[2017-05-24 19:12] djui opened #182 "Update to latest security patch with Go 1.8.2"
https://groups.google.com/d/msg/golang-nuts/vbHB2zj5xCk/ZXt7ycecCgAJ

[2017-05-25 00:05] Xe commented on #182
Fixed in https://github.com/heroku/heroku-buildpack-go/commit/29d531559bb288969f4d2a6dee92891578c7a393

[2017-05-25 06:37] #182 closed, assigned to nobody

[2017-05-25 06:37] djui opened #186 "Update to latest Go release 1.8.3"
https://groups.google.com/forum/#!topic/golang-nuts/oUOV9PFq_8s

Times are moving fast...

[2017-05-30 16:34] Xe commented on #186
Closed in https://github.com/heroku/heroku-buildpack-go/pull/185 commit https://github.com/heroku/heroku-buildpack-go/commit/19adaf46fc05fe806f28dbbf77f024b7be6ee142

[2017-05-30 16:37] #186 closed, assigned to nobody

[2017-06-06 00:49] xanderdunn opened #190 "Importing a Subdirectory of My Project Works Locally, Not on Heroku"
glide.yaml:
[code]

`glide install` on my local Mac:
[code]

Followed by `go install -v -tags heroku . `:
[code]
This is a legitimate build error due to a semantic mistake in the code.  I'd expect to see the same error on Heroku.

Instead, on  Heroku I see:
[code]

It's unable to import the subdirectory `github.com/numerai/api-nmr/solid-nmrbackend` in my project.

Locally, on my Mac when I run `go

[2017-06-06 01:00] xanderdunn commented on #190
Very simple!  I had the files locally but not in the repo.  They were a part of the gitignore!  Ha!

[2017-06-06 01:00] #190 closed, assigned to nobody

[2017-06-30 11:05] beydogan commented on #179
@salismt have you fixed this? I'm having the same issue.

[2017-07-14 22:51] connelevalsam opened #195 "remote: can't load package"
Terminal output:
`remote: -----> Fetching any unsaved dependencies (glide install)
remote: [INFO]	No dependencies found. Nothing installed.
remote: [INFO]	Setting references.
remote: [INFO]	No references set.
remote: [INFO]	Exporting resolved dependencies...
remote: [INFO]	Replacing existing vendor dependencies
remote: -----> Running: go install -v -tags heroku .
remote: can't load package: packag

[2017-07-16 13:52] kyleconroy opened #197 "S3 bucket prevents easy contribution"
I'm working on [adding support for dep](https://github.com/heroku/heroku-buildpack-go/pull/196) to the buildpack. I need to pull down two new binaries, dep and [tomlq](https://github.com/kyleconroy/tomlq). I've added them to the `files.json`, but the `sync-files` command requires access and auth keys to a private Heroku S3 bucket.

We should change the buildpack to accept an environment variable (

[2017-07-18 05:18] bscott opened #198 "Add dep package management"
The Go team recently added dep as a runner up for the Official package management tool, be nice to add it.

https://github.com/golang/dep

[2017-07-18 11:31] connelevalsam opened #199 "`git push heroku master`fails"
Tried to deploy a project in Golang using Godep but it fails to push. So I can view app.

[2017-07-18 21:28] bscott commented on #198
PR #196 already in progress

[2017-08-17 04:06] posener opened #203 "add `go generate` stage"
Currently I must run the go generate on my machine and commit the changed files to github.
Can you add a go generate command before the go install that will do this as part of the build process?

[2017-08-31 18:25] jmorrell opened #205 "Go 1.9 is the default version, but gives unsupported warning"
With https://github.com/heroku/heroku-buildpack-go/pull/204 1.9 is now the default version of Go, but if you specify 1.9 you receive an unsupported error:

[code]

[2017-09-11 22:20] freeformz commented on #205
#204 didn't [default](https://github.com/heroku/heroku-buildpack-go/blob/master/data.json#L4) to go 1.9, but it did make it available, but it's still unsupported. This will change this week though.

[2017-09-18 04:07] ghost opened #207 "Can't load package when using Glide"
Hi guys,
I'm trying deploy my Go app using Glide and get an error like this:
[code]
Here is my project struct:
[code]
I don't know why but when i'm change Glide with Govendor. It worked.
Please show me how to fix it.
Thanks.

[2017-09-18 14:41] ghost commented on #207
Oh, I found my problem. I forgot commit index.to file. It is a silly mistake.

[2017-09-18 14:41] #207 closed, assigned to nobody

[2017-09-18 15:51] KingRider commented on #176
@freeformz not work, a problem the version GO from heroku.

[2017-09-22 20:53] freeformz commented on #176
@KingRider Please open a support ticket on Heroku or provide more information here, preferably including the build output.

[2017-09-29 18:40] freeformz commented on #205
Closing since it's now supported.

[2017-09-29 18:40] #205 closed, assigned to nobody

[2017-09-29 23:28] freeformz commented on #203
The problem with I see with a `go generate` stage are:

1. determining when it should be run.
1. A given random `go generate` run may also require additional local dependencies that aren't checked into source control because of size, legal requirements, etc.
1. What if the generated code has different dependencies then the rest of the pushed code? What is the right thing to do then?

[2017-09-29 23:29] freeformz commented on #199
Closing as this doesn't really have any actionable information. If this is still an issue, please provide the build output and links to the source code.

PS: If this is an app on Heroku, the best place to ask for help is via Heroku's support.

[2017-09-29 23:29] #199 closed, assigned to nobody

[2017-09-29 23:30] freeformz commented on #198
Done and in master, but not yet released on Heroku. Until it's released (a few weeks) it's usable by pinning the buildpack to the master branch vs. the released `heroku/go` version.

Thanks!

[2017-09-29 23:30] #198 closed, assigned to nobody

[2017-09-29 23:33] freeformz commented on #197
What I'd like to do is to figure out a way to pass a something like a `HEROKU_GO_FILES_LOCATION` env var that could also be a `files:///` url so that when running the tests the files would be "downloaded" from the local file cache instead. This could then also be used for hosting your own set of binaries in the S3 bucket (or other location) of your choice.

[2017-09-29 23:34] freeformz commented on #195
Can I get access to the source to try to duplicate and suggest a PR?

[2017-09-29 23:37] posener commented on #203
Hi,
I had an issue with a go bindata which was large enough to be inconvenient to be checked in to the source control and a go generate command before the build would be much of help.
I understand your points, and I don't need anymore this change, so I'm closing the issue.
Thanks!

[2017-09-29 23:37] #203 closed, assigned to nobody

[2017-09-29 23:40] freeformz commented on #179
My approach would be to do the following (I haven't tested, but that should work.):

[code]

Then edit vendor.json and add `bitbucket.org/liamstask/goose/cmd/goos` to the `heroku.install` line.

Please re-open if this is still an issue and the above doesn't work.

[2017-09-29 23:40] #179 closed, assigned to nobody

[2017-09-29 23:41] #164 closed, assigned to nobody

[2017-09-29 23:42] freeformz commented on #175
The testpack portion of the go buildpack runs the tests with the -race flag. I don't suggest compiling production code with `-race` enabled.

[2017-09-29 23:42] #175 closed, assigned to nobody

[2017-09-29 23:43] #143 closed, assigned to nobody

[2017-09-29 23:44] freeformz commented on #91
We're not going to be supporting nut, in fact I'd like to reduce the number of supported tools. Hopefully dep and the other plans around future dependency management stuff in go 1.10/11/etc will make that a reality.

[2017-09-29 23:44] #91 closed, assigned to nobody

[2017-10-17 17:03] freeformz commented on #197
Master now uses a `file://` url and files in `test/assets`, which is populated with the files in `[data.json](https://github.com/heroku/heroku-buildpack-go/blob/8fe505ee4193bb30520567c4add9fdcd50a756d1/data.json#L61)`'s `test.assets` array (references the files in `files.json`) by the `[bin/fetch-test-assets`](https://github.com/heroku/heroku-buildpack-go/blob/8fe505ee4193bb30520567c4add9fdcd50a75

[2017-10-17 17:04] freeformz commented on #197
PS: tests are also faster because of this as the test don't download the same version of Go over and over again for each test.

[2017-10-17 17:04] #197 closed, assigned to nobody

[2017-10-31 20:29] kanishkatn opened #219 "Strange heroku behaviour while deploying golang app"
I am trying to deploy my golang app on heroku for the first time.

I am using govendor as my dependency manager and have vendor/vendor.json in my project structure.

![screen shot 2017-11-01 at 1 16 26 am](https://user-images.githubusercontent.com/4919645/32247387-30881474-bea8-11e7-8e88-699b87b6352c.png)

I have even specified the root path and heroku install in the json file.

But everytime I pu

[2017-11-01 08:09] kanishkatn commented on #219
I have got this resolved. Please close the issue.

Thanks @freeformz :)

[2017-11-01 17:47] #219 closed, assigned to nobody

[2017-12-08 23:38] freeformz commented on #195
Closing since I couldn't get access to the source code / app.

[2017-12-08 23:38] #195 closed, assigned to nobody

[2017-12-09 23:54] freddiewanah opened #222 "Deprecated or unsupported version of go (1.9.2)"
Hey, I was trying to deploy the app with dep. And no matter what version I entered in the config file, it keeps giving me this bugs and denied me from pushing.

remote: -----> Go app detected
remote: -----> Fetching tq... done
remote:  !!
remote:  !!    Deprecated or unsupported version of go (1.9.2)
remote:  !!    See https://devcenter.heroku.com/articles/go-support#go-versions for supported vers

[2017-12-19 22:51] johnsudaar commented on #222
You made a typo on your `go-version` it should be:

[code]

[2018-01-05 17:42] gaffneyc opened #223 "Support github.com/wallester/migrate"
We're using [wellester/migrate](https://github.com/wallester/migrate) for migrations and would love to see it supported in the official tooling. We choose it over mattes/migrate because we found the story around installing v3 to be a pain locally for development.

I originally tried adding it in `additional-tools` as I figured it would be anything that you can `go get` and was surprised to then re

[2018-01-08 21:08] kevinburke opened #225 "can't run Go 1.10 beta"
If I specify this in Gopkg.toml

[code]

I get the following error:

[code]

Similarly, if I replace "go1.10beta1" with "go1.10" in my Gopkg.toml file, I get the following error:

[code]

Maybe that file was committed here, but not deployed, or the SHA changed?

[2018-01-17 19:14] danp commented on #225
Until a version of the buildpack that supports go1.10beta is officially released, you'll need to set the app's buildpack URL to this repo, eg:

[code]

That would get go1.10beta1 working as of this moment, and when #226 is merged go1.10beta2 will also work.

[2018-01-17 19:21] freeformz commented on #225
I released v79 of the buildpack which includes go1.10beta1 and 2.

Thanks!

[2018-01-17 19:21] #225 closed, assigned to nobody

[2018-01-17 19:23] freeformz commented on #225
PS: You can revert the buildpacks:set (with `buildpacks:clear`) change so that you are using the released versions now if you want.

[2018-01-17 19:26] freeformz opened #227 "missing go versions return a misleading error message"
See the output in #225. This probably affects other files as well as they all share the same download/verification functions.

[2018-01-17 19:30] freeformz commented on #223
mattes/migrate can't be go gotten in a sane way (at least the last time I looked). We also have requirements around tracking the source and versions of what is built that a `go get` can't satisfy (it just gets whatever is on master).

With that said there are two options ....

1. vendor github.com/wellester/migrate and then add it to the `install` list.
2. Wait for it to be added to additional too

[2018-01-17 19:31] freeformz commented on #222
Going to close this since the above comment is the answer.

[2018-01-17 19:31] #222 closed, assigned to nobody

[2018-01-17 19:44] gaffneyc commented on #223
What we did was to vendor it and then copy and paste the code for the migrate binary into `cmd/migrate`. This is working for us right now though it's not perfect. Adding it to the install list instead is interesting and I'll have to look at that.

You bring up an interesting point that wellester/migrate is easily vendorable but what does that mean for future additions to `additional-tools`? Will a

[2018-01-23 20:12] kevinburke opened #228 "Support Go 1.9.3"
Go 1.9.3 was released yesterday has several fixes for the compiler and runtime, listed here: https://github.com/golang/go/issues?q=milestone%3AGo1.9.3

It would be great if it was available for running Heroku Go apps.

[2018-01-25 14:20] alexfalkowski commented on #228
It has been released!

[2018-01-28 05:47] Tri125 opened #232 "Unable to set linker symbol"
This is my [app.json](https://github.com/Tri125/HoP/blob/master/app.json). I'm deploying directly by pushing from git but it seems that ``$SOURCE_VERSION`` is not being set. It just runs ``Running: go install -v -tags heroku .``

Also, would it be possible to have it set to the latest tag instead of the commit sha1?

[2018-01-28 19:50] danp commented on #228
This was done in https://github.com/heroku/heroku-buildpack-go/pull/229.

[2018-01-28 19:50] #228 closed, assigned to nobody

[2018-02-08 01:38] freeformz commented on #232
Unfortunately `git push heroku master` doesn't consider app.json in any way.

You need to run `heroku config:set GO_LINKER_SYMBOL=main.version` for the app in question before you push.

Please let me know if that doesn't work.

[2018-02-08 19:55] wchrisjohnson opened #236 "Deprecated or unsupported version of go (Docs bug)"
Attempting to deploy via the Heroku CLI:
[code]

I discovered the docs are wrong in this section:
https://devcenter.heroku.com/articles/go-apps-with-dep#build-configuration

The example is:
[code]
should be
[code]

[2018-02-10 02:08] freeformz commented on #236
Once #237 is merged and released this will no longer be a problem. `go1.8.3` or `1.8.3` will both work As will `go1.8` or `1.8`, which will then both expand to [`go1.8.7`](https://github.com/heroku/heroku-buildpack-go/blob/3da0aa93854497719358b01e4b2669ca2698831b/data.json#L10).

Should be sometime early next week.

Thx!

[2018-02-16 20:39] #236 closed, assigned to nobody

[2018-02-16 21:29] freeformz commented on #232
Closing since I haven't heard back. Please re-open if the config changes did not solve your issue. Thx.

[2018-02-16 21:29] #232 closed, assigned to nobody

[2018-02-16 21:38] freeformz commented on #223
Using a separate buildpack to install mattes/migrate makes sense, but it's a lot of work. Since mattes/migrate has a fair bit of usage it seemed like adding support for it in the buildpack was a better idea than having to force people to add a different buildpack in the right order to just get mattes/migrate. A future iteration/improvement around mattes/migrate may be to detect it's needed and jus

[2018-02-16 21:38] #223 closed, assigned to nobody

[2018-02-16 21:39] freeformz commented on #227
We now present an error when this happens.

[2018-02-16 21:40] freeformz commented on #227
Oops didn't merge this branch.

[2018-02-23 21:07] #227 closed, assigned to nobody

[2018-05-02 13:42] ssnickolay opened #247 "Allow to set up LD_LIBRARY_PATH in build's local env"
Some Golang packages use `LD_LIBRARY_PATH` for compiling C bindings (in my case it is [gocv](https://github.com/hybridgroup/gocv/blob/master/env.sh#L24)).
So, can we add `LD_LIBRARY_PATH` to [loadEnvDir()](https://github.com/heroku/heroku-buildpack-go/blob/master/lib/common.sh#L163) for a possibility to set up its by custom heroku buildpacks?
I can do PR If there are no objections to this improvem

[2018-05-11 17:37] intel352 opened #249 "Add support for modules"
Please add support for https://github.com/golang/vgo as an alternative to dep, govendor, etc. Vgo is the most likely candidate to be directly integrated into Go by v1.11.
Read more about it here: https://research.swtch.com/vgo

[2018-05-14 22:12] intel352 opened #250 "Update migrate repo URL"
The `migrate` tool has a new repo URL: https://github.com/golang-migrate/migrate
Also the version is now 3.2.0. I didn't see the version hard-coded, just calling that out in case you want to also update the readme to be accurate.

[2018-06-29 13:37] NatoBoram opened #253 "heroku-buildpack-go doesn't detect Go projects"
[code]

Project : https://gitlab.com/NatoBoram/Go-Miiko/

What are the full requirements for `heroku-buildpack-go` to detect a Go project? Is there a way to tell it that I'm using Go, and that `go build` actually works?

[2018-06-29 21:52] freeformz commented on #253
The buildpack readme states

![screen shot 2018-06-29 at 2 52 06 pm](https://user-images.githubusercontent.com/103/42116430-084920cc-7bac-11e8-9117-3691444eefa6.png)

[2018-06-29 21:53] freeformz commented on #253
There is also another section of the readme for non conforming projects: https://github.com/heroku/heroku-buildpack-go#usage-with-other-vendoring-systems

[2018-06-29 22:00] freeformz commented on #253
My suggestion is to use one of the tools listed in the readme to vendor your dependencies (or at least record them). Once that is done then this buildpack should work w/o problem and compile your application

[2018-07-15 23:30] prhineh1 opened #254 "heroku deploy can't find metadata.heroku in Gopkg.toml"
I've followed the instructions for deploying a Golang app using dep to Heroku. However, when running 'git push heroku master', I get the following error, "The 'metadata.heroku["root-package"]' field is not specified in 'Gopkg.toml'." Except it is there: https://github.com/prhineh1/Go-site/blob/heroku-build/Gopkg.toml (line 27).

I followed the directions in the readme. What am I missing here?

[2018-07-16 13:47] alindeman commented on #254
Since your code is only on the `heroku-build` branch, and not yet `master`, could you make sure you're pushing that branch to Heroku? The command would be `git push heroku heroku-build:master`. Is that the command you're running?

[2018-07-16 14:23] prhineh1 commented on #254
Thank you, alindeman, that worked.

[2018-07-16 14:23] #254 closed, assigned to nobody

[2018-07-30 18:55] kr commented on #249
A lot has happened with Go modules since this issue was opened. The modules proposal (for which vgo was a prototype) has been accepted, and it's been implemented in the `go` tool, and the Go team has released a beta (go1.11beta2) exposing this behavior.

Now that we have module support in an official release, it would be really useful for this buildpack to read `go.mod` so we can test it on Heroku

[2018-07-30 18:56] kr commented on #249
(Someone with permissions might want to rename this issue "Add support for modules" to reflect the official name for the feature.)

[2018-08-02 06:48] djui opened #256 "Migrate `mattes/migrate` to new repo `golang-migrate/migrate`"
The `mattes/migrate` repo is archived since 8th May and superseded by [golang-migrate/migrate](https://github.com/golang-migrate/migrate) now. Support for this repo instead (or mid-term both side-by-side to not break current app deployments) would be nice to keep up with features and security patches ([v3.0.1](https://github.com/mattes/migrate/releases/tag/v3.0.1) vs [v.3.4.0](https://github.com/g

[2018-08-02 06:56] djui commented on #256
Looking a bit closer, I actually believe this feature never worked, as the release binary filename (at least nowadays is `migrate.linux-amd64.tar.gz` not `migrate-linux-amd64.tar.gz`, which should have caused any in-the-wild users to raise issues.

So maybe a breaking change (and only supporting the new repo) is tolerable here.

[2018-08-02 07:03] djui commented on #256
Looking a bit further into the code, the `additional-tools` _only_ supports `migrate` currently, which is not obvious from the README and support article. Maybe simplifying that feature and making it more flexible by letting its value be a script (as file or command[s]) in the repo to be run, is easier.

For example (and for compatibility reasons likely with a different key `script|additional-scri

[2018-08-07 00:12] #253 closed, assigned to nobody

[2018-08-24 01:37] freeformz commented on #249
Master now has some basic module support. I'll be releasing after #263 is merged, but if you want to try it out now by telling Heroku you want to the use unreleased version from github via:
[code]

Please use the github issue tracker to report any problems as a separate issue. Heroku Support may not be able to help you since this is considered experimental.

Please include the build output and you

[2018-08-24 17:17] #256 closed, assigned to nobody

[2018-08-24 17:26] freeformz commented on #250
Master now has support for golang-migrate @v3.4.0 (and the older mattes migrate version as well).

Do you think I/we should PR/upload the other versions just to be complete?

[2018-08-24 22:01] freeformz commented on #249
v91 is released so please try modules with `heroku/go`. I'm going to close this issue as I feel that opening issues for specific gaps/problems would be more appropriate. Thanks!

[2018-08-24 22:01] #249 closed, assigned to nobody

[2018-08-24 22:01] freeformz commented on #250
v91 of `heroku/go` is released with support for golang-migrate v3.4.0.

[2018-08-30 00:15] kr opened #266 "error when trying to use the latest release of go with modules"
The readme for module mode says "If not specified defaults to the most recent supported version of Go."

I tried to deploy an app this way, but got an error message:

[code]

I can prepare a reduced testcase if that would help.

[2018-08-30 17:19] freeformz commented on #266
Go 1.11 is the most recent supported version of Go on Heroku, but it's not the default (yet). The buildpack actually uses it's [DefaultVersion](https://github.com/heroku/heroku-buildpack-go/blob/2cb93b701700ce578d14e32119b015449e663360/data.json#L4), which has almost always been the most recent version, but it doesn't have to be.

I'm going to change the text in the readme to be more accurate.

I

[2018-08-30 17:33] freeformz commented on #266
And I realize why that's happening too.

[2018-08-30 17:38] freeformz commented on #266
As an alternative, we could default to go1.11 if go.mod is detected, but my gut reaction to that is -1.

[2018-08-30 19:49] #266 closed, assigned to nobody

[2018-08-30 19:49] freeformz commented on #266
I changed my mind. go.mod w/o a version == go1.11 for now.

[2018-10-03 15:47] danp commented on #250
Fixed by https://github.com/heroku/heroku-buildpack-go/pull/264.

[2018-10-03 15:47] #250 closed, assigned to nobody

[2018-10-04 17:15] larryfox opened #270 "Go modules on Heroku CI"
Hi, is there a plan to support Go modules on Heroku CI?

Seems like it should work similar to the `dep|glide|godep` tools, just without the `grep -v /vendor/` stuff.

https://github.com/heroku/heroku-buildpack-go/blob/3254d7ba568b8142ca22f0891f9e7a68cec1c31b/bin/test#L48-L57

[2018-10-07 16:40] ankitsinghaniyaz opened #271 "App not compatible with buildpack error"
[code]

I cloned the default app, copied the relevant files but this is the error I get. What file is missing any idea?

[2018-10-14 17:42] dhax commented on #270
currently without a vendor folder my Procfile is ignored resulting in "Procfile declares types -> (none)" and no Dyno attached. Running go build --mod=vendor locally and committing my vendor folder, then web process in Procfile gets started. Should it also work without vendoring dependencies before pushing to heroku?

[2018-10-19 17:42] freeformz commented on #271
Which default app? The one in the getting started guide? Also, when you say "copied the relevant files" what do you mean?

PS: If you open a support ticket with Heroku they can probably help or escalate it internally and get better help.

[2018-10-26 16:49] ankitsinghaniyaz commented on #271
I got the default scaffold which Heroku provided and copied all the files to my existing project. It looks like I had missed some of the files. I tried again and it works. Thanks for the help.

[2018-10-26 16:49] #271 closed, assigned to nobody

[2018-11-05 19:03] yomikaze opened #274 "Updating default go1.10 minor version breaks go app builds"
#273

[code]

[2018-11-05 19:06] bigshahan commented on #274
Getting the same exact error too.

[2018-11-05 19:08] shauryachats commented on #274
Yep, same error.
Might be Heroku's problem, not ours.

https://stackoverflow.com/questions/11543541/heroku-push-gzip-stdin-not-in-gzip-format

[2018-11-05 19:19] bigshahan commented on #274
@shauryachats  That stackoverflow reference is really old, and this only started happening with the latest minor version change.

[2018-11-06 01:37] freeformz commented on #274
Sorry about that. There was a mistake during the deploy: https://status.heroku.com/incidents/1660

This is resolved and we'll be opening some follow up items to help ensure that it doesn't happen again by accident.

[2018-11-06 01:37] #274 closed, assigned to nobody

[2018-12-06 22:44] treystout opened #276 "Caching build artifacts?"
I'm using the build pack to compile a binary API that has over 40 go dependencies, each push seems to do `got get` every dependency on every build. Is caching of $GOPATH between builds an option? Is there something I need to configure?

[2018-12-14 10:58] kevinburke opened #278 "Update go version to fix security issue"
Go just did a security release to address issues in "go get": https://groups.google.com/forum/#!msg/golang-announce/Kw31K8G7Fi0/z2olKn-QCAAJ

I was wondering when this release will be available for download from the Heroku buildpack.

[2018-12-19 17:03] freeformz commented on #278
Closed by #277

[2018-12-19 17:03] #278 closed, assigned to nobody

[2018-12-21 19:44] freeformz commented on #276
What dependency tool are you using?

[2018-12-21 19:46] freeformz commented on #276
If you open a support ticket, include the app name, and grant access to the app I can get a bunch more info w/o having to ask you here.

[2018-12-21 19:47] freeformz commented on #247
Send a PR so it can be reviewed. Thanks!

[2018-12-27 08:40] purplesmoke05 opened #282 "/bin/herokuish buildpack test doesn't use GO_GIT_CRED"
I found that we cannot use heroku-buildpack-go with GO_GIT_CRED__{protocol}__{host}
in GITLAB Auto Devops.
How can we use?

[2019-01-15 16:44] treystout commented on #276
Sorry I missed this had email notifications turned off. I'm using go 1.11's new built-in module support. go.mod/go.sum (which should be putting gotten deps in the $GOPATH I think). When you say open a support ticket do you mean in heroku itself?

[2019-01-15 17:04] freeformz commented on #276
Yes. Caching should work, but I don't recall (of the top of my head) if it's well tested.

[2019-02-05 05:04] freeformz commented on #282
I don't know anything about GITLAB Auto Devops or how the buildpack relates to it.

Can you provide details on how to re-create the failure that I can try?

[2019-02-12 17:51] freeformz commented on #282
@airking05 AFAICT the current versions of herokuish pass the required [env directory](https://github.com/gliderlabs/herokuish/blob/8821a8b6f5c8be439b8138f533c6110d1eaeb918/include/buildpack.bash#L181) to the buildpack, which is all that is [required from what is executing the buildpack](https://github.com/heroku/heroku-buildpack-go/blob/94401f162c54f2d5245da27b204c6bfdc623b007/test/run#L150).

[2019-02-12 18:30] freeformz commented on #282
Can you try it with the `gitlab` branch that is part of #288 ?

[2019-02-12 18:33] freeformz commented on #270
Now part of v100.

[2019-02-12 18:33] #270 closed, assigned to nobody

[2019-02-12 18:38] #247 closed, assigned to nobody

[2019-02-19 18:52] arxdsilva opened #289 "buildpack: release fails with modules + GO_GIT_CRED"
Hi,

Im trying to release an app to Heroku but the release phase fails when I try to install a migration tool (gomod tries to install dependencies), so It isnt using the `GO_GIT_CRED__{protcol}__{host}` env. It builds properly with the env but the release doesnt.

Is it possible to enable on this new activity? Where can I see the possible envs for each phase?

[2019-02-19 19:04] freeformz commented on #289
The buildpack isn't run during release phase, nor is anything provided by the buildpack available during release phase, just the output of the buildpack (built code).

My suggestion is to compile everything you need during build time and run the compiled programs necessary at release phase time.

Do you have a support ticket I can refer to?

[2019-02-19 19:19] arxdsilva commented on #289
Hi @freeformz thanks for the fast response. I didnt open any ticket, sorry about that. I suppose that It's faster if I just use the `go mod vendor` command instead of customizing my own buildpack. But I'm open to suggestions :D

[2019-02-25 21:15] freeformz commented on #289
@arxdsilva If you open a support ticket, indicate what you are trying to do, give permission to access the app and ask that it be escalated to me I can take a look and get more context quickly then going back on forth in a public forum.

Otherwise....
Install the migration tool at build time and it will be available during release phase.

[2019-03-01 14:44] m90 opened #297 "Cannot build using go1.12 and modules"
I was trying to upgrade an existing app using Go modules from Go 1.11 to Go 1.12.

The updated `go.mod` looks like

[code]

Which from reading this: https://github.com/heroku/heroku-buildpack-go/blob/874d100cae8814e7424b3e4aefca5c706ca61a58/data.json#L3 should be supported.

Yet the build will fail with the following:

[code]

which I also don't fully understand as the version also mentioned here:

[2019-03-01 14:58] m90 commented on #297
Interestingly, it looks like current master is correct:

[code]

so the platform seems to be building against an outdated buildpack. How can I update this?

[2019-03-01 17:13] sowjumn commented on #297
Thank you for letting us know. We will look into this ASAP.

[2019-03-01 18:11] sowjumn commented on #297
go1.12 is now available.

[2019-03-01 18:11] #297 closed, assigned to nobody

[2019-03-01 18:17] m90 commented on #297
Great, thank you for resolving this so quickly. My app has already re-built using 1.12 :tada:

One question for future upgrades remains: The docs at https://devcenter.heroku.com/articles/go-support#go-versions currently refer to the `master` branch of this repository when it comes to supported versions. Can I assume that when a new Go version is added to the buildpack and merged to master, I can s

[2019-03-01 18:39] freeformz commented on #297
Thanks for releasing @sowjumn!

[2019-03-01 21:57] jmorrell commented on #297
@m90 to answer your question: You can point directly to the master branch of the buildpack (or another branch) if necessary, but the official `heroku/go` buildpack image needs to be released in a separate process.

Usually this is quick, but some things got shuffled in this case.

[2019-03-08 10:28] msiebuhr opened #301 "Defaults to v1.11.x version, despite "go 1.12" in go.mod file"
When building, I get this message:

[code]

Despite `go.mod` having the line `go 1.12` in it.

Having to specify the same thing twice is a little weird to me.

[2019-03-08 18:40] freeformz commented on #301
Our support for go modules predates the go tooling adding the `go X.Y` directive.

ATM, you will need to add a line like the following to get go1.12:
[code]

[2019-03-08 18:41] jmorrell commented on #301
We are working to get support for the go version directive out soon

[2019-03-21 16:48] freeformz commented on #301
A discussion on [go-nuts started by @sowjumn](https://groups.google.com/d/msg/golang-nuts/n6f-lbluk4A/Xwb3QfT5CgAJ) indicates that the `go` directive in the go.mod file shouldn't be used for version selection. It's meant to indicate the version of the language **features** that are required by the code base. For example, if a breaking change were introduced in go1.13 a `go 1.12` directive would **

[2019-03-21 18:18] ianlancetaylor commented on #301
Yes: the "go" directive in go.mod indicates the language version to use when compiling code.  There is a lot more detail about how this is intended to work at golang/go#28221.

We will support all previous language versions.  It's not as hard as you suggest.  C and C++ compilers do this routinely, via command line options like GCC's `-std=`.

[2019-03-23 19:39] edwardmp commented on #276
Hi @freeformz, we are using the buildpack in combination with Go modules as well, but caching doesn't seem to work. We are using Go version 1.11.5.

[2019-03-25 15:53] fgblomqvist opened #308 "v105 breaks root-level package installation if cmd dir exists"
PR #304 broke the installation of root-level packages if a `cmd` directory exists. Unless I've missed something, `cmd` is not an officially reserved directory name for go modules/packages. The only reference to it I was able to find was in the **unofficial** guide: https://github.com/golang-standards/project-layout#go-directories

While I can appreciate that layout, it is not official and therefor

[2019-03-25 20:42] freeformz commented on #308
Thanks for your feedback and sorry this was a breaking change for you.

Putting main packages in `./cmd` is a common idiom for repositories that either contain multiple main packages or where the developer expects there to be multiple main packages in the future.

What do you think about the following behavior, assuming no `// +heroku install` directive?

1. If there is a main package in the root

[2019-03-25 20:47] fgblomqvist commented on #308
The suggested behavior sounds logical to me (and better than the current new one) :+1:
The important part is definitely num. 1, to preserve the backwards compatibility.

[2019-03-25 21:40] freeformz commented on #308
I've been playing around with another option...

If the buildpack were to run the following in the root of the code base, it would get a list of every main package in the repo:
[code]

Install those.

This seems to DTRT in all the cases I can think of atm, except for some places where the buildpack already has special handling.

The only corner case I can think of right now where this may fail is

[2019-03-25 23:18] freeformz commented on #308
I have that working. Output of `make FIXTURE="mod-cmd" compile` locally looks like...

[code]

I have a few things to clean up before opening a PR. Hopefully later tonight.

[2019-03-25 23:31] fgblomqvist commented on #308
That looks like a beautiful solution, gj!

[2019-03-27 22:48] freeformz commented on #276
@edwardmp Can you open a support ticket, detail what isn't happening, provide access to the application, and ask them to assign the ticket to me?

I can use the build logs and some internal tools to look at the BUILD cache (which should contain Go's cache) to see what is going on.

Thanks!

[2019-03-27 22:49] freeformz commented on #308
@fgblomqvist I am running "slow" on this, but it's progressing.

[2019-03-28 01:24] fgblomqvist commented on #308
No worries, since we could use the +heroku option (albeit not the prettiest,) we're not in a bad spot atm. But still, I do appreciate you putting in the work, thanks for that.

[2019-04-01 23:46] #308 closed, assigned to nobody

[2019-04-05 20:38] jamesward opened #315 "Quoted module in go.mod brakes default Procfile"
My `go.mod` had:
[code]
And the generated `Procfile` had:
[code]
(with the trailing double-quote)

It seems that quoting the module was something that should be fine.  In which case it should work ok with the generated `Procfile`.

[2019-04-05 21:13] freeformz commented on #315
Doh. Time for another test. Thanks for reporting this.

[2019-04-05 21:39] freeformz commented on #315
PS: As per the [devcenter docs](https://devcenter.heroku.com/articles/getting-started-with-go#push-local-changes) I suggest running `go mod tidy && go mod vendor` before `git commit` and pushing code to heroku. This ensures that `go.mod`, `go.sum`, & the contents of `vendor/` reflect the current code base. This **also**, at least with go1.12.1 (I've only tested this on that version so far) removes

[2019-04-05 21:40] jamesward commented on #315
Thanks!  Yeah, handmade and I'd seen the quotes somewhere.  Appreciate the prompt response and fix!

[2019-04-08 17:10] #315 closed, assigned to nobody

[2019-04-18 18:24] #276 closed, assigned to nobody

[2019-05-08 16:38] freeformz commented on #301
So the `go` directive in the `go.mod` file is not for go version selection.

[2019-05-08 16:38] #301 closed, assigned to nobody

[2019-05-08 16:38] freeformz commented on #289
I believe this is fixed now.

[2019-05-08 16:38] #289 closed, assigned to nobody

[2019-05-08 16:39] freeformz commented on #282
I believe this is fixed now.

[2019-05-08 16:39] #282 closed, assigned to nobody

[2019-05-08 16:40] freeformz commented on #156
For go modules (the way forward) the buildpack now detects main packages to install, so there's really no need to have a default spec.

[2019-05-08 16:40] #156 closed, assigned to nobody

[2019-05-08 16:59] freeformz opened #332 "Install with multiple main packages with the same named directory"
An internal application *had* the following package structure:

[code]

This produced a Procfile of:

[code]

[2019-05-08 16:59] freeformz commented on #332
I think the buildpack should probably throw an error in the case where there are multiple main packages with the same name. The error probably needs to tell the user that they either need to specify a pathspec for installation or rename one of the directories. Thoughts?

[2019-05-09 05:49] msiebuhr commented on #301
I see. I'd still posit that having `go 1.12` in the file should make the buildpack should definitely not pick Go 1.11.5.

The right solution would then be to run any Go >= 1.12  w. `-lang=go1.12`.

[2019-07-03 15:49] shackra opened #344 "Can't build «exec: "bzr": executable file not found in $PATH»"
I cannot deploy my Go app which recently I moved to use go.mod because some dependencies cannot be fetch using bazaar, as the bzr binary is not in $PATH

[code]

[2019-07-05 18:53] shackra commented on #344
Any news?

[2019-07-10 01:53] vikmeup opened #348 "gzip: stdin: not in gzip format"
With the new version of go `go 1.12.7` I'm seeing these issues on go deployment

[code]

[2019-07-10 01:59] vikmeup commented on #348
@freeformz can you take a look

[2019-07-10 07:39] mttrs commented on #348
This appears to be a bug in v122. In the meantime, please use v120 instead. You can specify the vertion by `heroku buildpacks:set https://github.com/heroku/heroku-buildpack-go.git#v120`.

[2019-07-10 13:10] jkutner commented on #348
The default buildpack has been rolled back to v119 (v120 had issues for some). This also changes the default Go version to 1.12.6.

Sorry for the trouble.

[2019-07-11 17:01] #348 closed, assigned to nobody

[2019-07-16 19:17] #344 closed, assigned to nobody

[2019-07-17 08:49] telendt opened #350 "bzr installation fails"
With buildpack from master
[code]

v126 works fine.

[2019-07-17 14:04] atamsingh commented on #350
Hitting the same issue as well.

[2019-07-17 17:06] freeformz commented on #350
Fixed. I merged the branch yesterday w/o doing the sync to the bucket.
Maybe I should make the tooling functions fall back to fetching from the source URL if it's not found in the bucket. That's probably sane.

[2019-07-17 17:06] #350 closed, assigned to nobody

[2019-07-17 17:07] freeformz commented on #350
PS: Sorry about this. Will think about doing above and some other options as well.

[2019-08-07 13:51] naiba opened #354 "Can not build with go mod when set ldflags"
Go version: 1.12.6

[code]

[2019-08-07 14:03] naiba opened #355 "How to set multi GO_LINKER_SYMBOL env ?"

[2019-08-07 15:24] #355 closed, assigned to nobody

[2019-08-07 15:24] #354 closed, assigned to nobody

[2019-08-08 22:33] frederikhors opened #356 "Is GO_ENV a necessary environment variable?"
I'm reading around (https://github.com/gobuffalo/buffalo/search?q=GO_ENV&unscoped_q=GO_ENV) about an environment variable called: "`GO_ENV`" and I think it is not a Go "native"/"pure" thing.

Am I wrong?

Am I right?

Do I need to setup this env in my heroku go based apps?

[2019-08-08 22:59] freeformz commented on #356
you can see the "standard" go env vars by running `go env`.

AFAICT `GO_ENV` is an attempt to have a [`RAILS_ENV`](https://stackoverflow.com/questions/43863251/where-is-the-rails-env) work alike.

I personally think it's misnamed and should be something like `BUFFALO_ENV`, `GOBUFFALO_ENV`, `GO_BUFFALO_ENV`, etc.

If you set `GO_ENV` in your app's config, it will be available @ runtime, but not at

[2019-08-08 23:08] frederikhors commented on #356
Thanks a lot. Amazing. Thanks.

[2019-08-08 23:08] #356 closed, assigned to nobody

[2019-09-19 04:24] crimist opened #365 "Adding custom build tags"
I was wondering if there's a directive or something for adding build tags to the install process.

### Example

go.mod
[code]

Build
[code]

Cheers.

[2019-09-19 17:27] freeformz commented on #365
No, there isn't.

Can you describe your use case so that we can understand the need(s)?

[2019-09-19 20:19] crimist commented on #365
My application uses a build tag that modifies certain functions to increase performance while sacrificing metric collection. I'd like to enable that setting on when running on Heroku.

The reason I use built tags rather than a variable is because by combining constants and build tags the go compiler can optimize out unreachable code which then makes the function smaller and causes the compiler to

[2019-09-20 18:59] freeformz commented on #365
This is possible now by using the `heroku` build tag.

[code]

[2019-09-20 19:00] freeformz commented on #365
The readme includes this comment: "This buildpack adds a `heroku` build constraint, to enable heroku-specific code."

[2019-09-21 02:28] crimist commented on #365
Ah I had totally forgotten about the `OR` keyword. Thanks.

[2019-09-21 02:28] #365 closed, assigned to freeformz

[2019-10-16 19:50] ahmetb opened #372 "Unclear what the error message is on build failure"
I'm using `pack build --builder heroku/buildpacks` command to build this repository https://github.com/hyperscale/hyperpic at 8e18694.

I'm getting an error that is not very clear: `[builder] Error: failed to build: exit status 2`.

There are no other errors next to it, just that the previous line before fail actually does a go get on `github.com/pkg/errors` package. My suspicion is that this is s

[2019-10-16 20:15] ghost commented on #372
AFAICT the error is `pkg-config: exit status 1`.

This is likely because the libvips, which is used by `github.com/h2non/bimg` isn't in the image that pack is using.

[2019-10-16 20:25] ahmetb commented on #372
Hmm I'm not sure.

Here's a clean `golang:1-alpine` docker image that also doesn't have libvips, and it does `go mod download` there just fine.

[code]

There's no libvips in this environment (`find / -name 'libvip*'`)

[2019-10-16 20:30] ghost commented on #372
The buildpack successfully downloads all the modules.
The error happens after the final `go: extracting ....` message which signals that it happened during compilation. This is the time when CGO will be involved as packages are compiled.

[2019-10-16 20:33] ahmetb commented on #372
You're right, I just tried `go build ./...` and observed the error.
Thanks for helping out.

[code]

[2019-10-16 20:33] #372 closed, assigned to nobody

[2019-10-16 20:33] ghost commented on #372
I've not used `pack` before now, but you will need to have it install that package before running the go buildpack. If this were on Heroku I would suggest using the apt buildpack.

[2019-10-16 20:35] ahmetb commented on #372
It's not a big deal, but I recommend pack CLI to wrap the error message from exec and explain what happened more clearly, such as:

[code]

[2019-10-24 16:27] danp opened #376 "go1.13 defaulting"
https://github.com/heroku/heroku-buildpack-go/pull/366 was meant to change the default from go1.12 to go1.13 but it was discovered in testing that gb seems to have trouble in 1.13.

Before we can have go1.13 be the default, we need to verify this issue and come up with a fix. If gb can't be made to work, a possible way forward is letting folks know that gb is no longer supported when using 1.13+.

[2019-10-24 16:31] danp opened #377 "support new go1.13 module proxy/sum/etc options"
go1.13 made use of proxy.golang.org and others default, as mentioned [here](https://golang.org/cmd/go/#hdr-Module_downloading_and_verification).

We should give people a way to control values of GOPROXY, GOSUMDB, GOPRIVATE, and friends as part of builds. For example, apps using GitHub tokens to fetch from private repositories as part of builds may break or expose some information (repo name, etc).

[2019-11-29 15:21] edmorley opened #378 "Use the go version in go.mod to set the minimal Go version to use"
Currently this buildpack requires that the Go version be specified in a Heroku-specific format in `go.mod`, otherwise the build will output something like:

[code]

At first glance it seems like the buildpack should just be using the `go 1.NN` style annotations now supported by Go in `go.mod`.

However as discussed in #301, those annotations are meant to indicate the minimum language feature versi

[2019-11-29 15:24] edmorley commented on #301
I've filed #378 for discussing this further.

[2019-12-02 21:23] ghost commented on #378
I've re-read all of the posts involved with this directive that I can find and I think the only "safe" thing to do is, in the absence of the `// +heroku goVersion` directive, utilize an existing `go` directive as the **minimal major** Go version. This will allow users to specify, via the `// +heroku goVersion` directive, a newer Go version than the `go` directive indicates, allowing for a toolchai

[2019-12-02 21:25] ghost commented on #378
Also, if its the minimal version, then when we default to go1.14 and their module file still contains `go 1.13`, what do we do? I expect users will expect that their compiles continue to use the latest go1.13.

So maybe it needs to be option 2 - **specific major version**.

[2019-12-03 08:47] edmorley commented on #378
Yeah I agree that option 2 sounds best.

[2019-12-03 14:49] oreqizer opened #379 "Install 'migrate' with go.mod"
I want to have the following release phase:

[code]

how do I do that when using **go modules**?

[2019-12-06 17:34] ghost commented on #376
Internal Work Item: [W-6993081](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000078TJlIAM/view)

[2019-12-06 17:35] ghost commented on #378
Internal Work Item: [W-6993075](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000078TKOIA2/view)

[2019-12-06 17:37] ghost commented on #332
Internal Work Item: [W-6993089](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000078TKsIAM/view)

[2019-12-06 17:39] ghost commented on #379
See: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

With that said, given the way golang-migrate's repo / install is setup it may not be possible ATM.

[2019-12-06 17:40] ghost commented on #379
Internal Work Item: [W-6993100](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000078TL7IAM/view)

[2019-12-06 17:42] ghost commented on #377
Internal Work Item: [W-6993106](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B00000078TLRIA2/view)

[2020-01-10 03:42] NOTBYROBOTSONLY opened #384 "! error fetching custom buildpack https://github.com/some/buildpack.git python3"
I am trying to deploy an app on heroku using python3 and I keep getting this error
 !     error fetching custom buildpack https://github.com/some/buildpack.git

[2020-01-15 00:31] IvanDerlich opened #385 "Can't deploy to heroku: App not compatible with buildpack #4"
`git push heroku master`

Throws this error.

![Screenshot from 2020-01-14 20-58-15](https://user-images.githubusercontent.com/5816027/72393099-a1b1a600-3710-11ea-94b3-334b43d9cb1b.png)

So then we try to resolve this buildpack issue running:

`heroku create --buildpack https://github.com/heroku/heroku-buildpack-ruby.git`

`git push heroku master`

But the same error persists.

[This](https://gith

[2020-01-28 16:30] hiimtaylorjones commented on #385
Hey Ivan,

I think this issue is meant for our Ruby Buildpack. Mind opening an issue on [Heroku Support](https://help.heroku.com/) or on the [Github repo](https://github.com/heroku/heroku-buildpack-ruby)?

[2020-01-28 16:30] #385 closed, assigned to nobody

[2020-01-28 16:32] hiimtaylorjones commented on #384
Hey there,

Do you mind providing me the output of the following?

[code]

[2020-02-04 19:03] technicallyty opened #386 "The requested file (go1.13.7.linux-amd64.tar.gz) is unknown to the buildpack!"
Getting the error shown in title when trying to deploy my golang REST API. I'm doing this through github, so I have my heroku linked to my github account. It's using my private repo.

 I am using the community manage `dep` [https://github.com/golang/dep](dep) to package my app. Here is my current Gopkg.toml setup:

[code]

And here is the full log when trying to deploy my branch:

[code]

Unfortun

[2020-02-04 19:22] technicallyty commented on #386
I guess it doesn't work with the version i published? I changed my file to say `go-version = "go1.12.0" `and it worked.

[2020-02-04 19:22] #386 closed, assigned to nobody

[2020-03-13 08:29] codedius opened #394 "Ignore vendoring in Go 1.14"
Hi! I'm trying to build my app with Go 1.14, but faces the error:

run 'go mod vendor' to sync, or use -mod=mod or -mod=readonly to ignore the vendor directory

Is there any way to ignore Go vendoring in Heroku? I've tried use env GOFLAGS=-mod=mod but it didn't work.

[2020-03-16 13:35] LaysDragon commented on #394
I face the same problem while using gitlab auto devops
need to find a way to get it use the go mod instead vendor

[2020-03-20 16:22] hone commented on #384
I'm closing this due to inacitivty. Buildpack fetching is also not something the go buildpack handles directly. If you're doing this on Heroku, please open a support ticket. :purple_heart:

[2020-03-20 16:22] #384 closed, assigned to nobody

[2020-03-20 20:24] danp commented on #394
Hi there,

It sounds possible that `go mod vendor` hasn't been run locally with go1.14 yet. Could either of you please share the output of `go version` and `go env` from a project having this issue?

If I understand correctly, something like this might fix it:

1. Be sure `go version` reports go1.14 or greater
2. Within your project, run `go mod vendor`
3. Commit any changes, such as lines added t

[2020-03-20 20:42] codedius commented on #394
Hi @danp,

Please, read the first message carefully. **WITH** vendoring everything works fine, but I'm interested in how to use Go 1.14 in Heroku **WITHOUT** vendoring. In simple words, I **don't want** to use `go mod vendor`, but I **have to**, because I get the error above otherwise. So, is there any way to ignore Go vendoring in Heroku?

[2020-03-20 20:52] danp commented on #394
Hi, sorry for misunderstanding. I could still use some info about the project you're working with to make a better recommendation. In addition to the info I asked for above, could you please provide the output of `ls -la vendor/modules.txt`?

Thanks!

[2020-03-21 07:57] codedius commented on #394
Ok, so:

1. `go version go1.14 darwin/amd64`
2. Done
3. Done
4. Done

Output:
`-rw-r--r--  1 lepeshev  staff  2560 Mar 12 18:52 vendor/modules.txt`

[2020-03-21 14:52] danp commented on #394
Thanks! How about `go env` output?

I'm also wondering if you have a line in `go.mod` that starts with `go` and what it says. If it doesn't say `go 1.14`, please update it and try the `go mod vendor` and following steps again.

In the meantime, I'll see if I can put together something that reproduces this problem so we can get it sorted.

Thanks again.

[2020-03-21 14:59] codedius commented on #394
Go env:

GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/lepeshev/Library/Caches/go-build"
GOENV="/Users/lepeshev/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOINSECURE=""
GONOPROXY=""
GONOSUMDB=""
GOOS="darwin"
GOPATH="/Users/lepeshev/Go"
GOPRIVATE=""
GOPROXY="direct"
GOROOT="/usr/local/Cellar/go/1.14/libexec"
GOSUMDB="sum.golang.org"
GOTMPDIR=""
GOTOOLDIR

[2020-03-22 14:02] pyorot commented on #394
Having the same problem. My local repository doesn't have a vendor folder (neither tracked nor untracked in Git); I have a simple go.mod:
[code]
This built fine in the default Go 1.12 (by deleting the goVersion line) but I get "go: inconsistent vendoring" error in 1.14, despite the readme of this project suggesting that vendoring shouldn't be used if the vendor directory is absent. It'd be conveni

[2020-03-22 18:31] danp commented on #394
Thank you both. I think I've reproduced the problem and found the issue, and I'll work on a proper fix. In the meantime, unless you need the [language change introduced in 1.14](https://golang.org/doc/go1.14#language), can you please try changing the `go 1.14` line in `go.mod` to `go 1.13`? I believe that will get it working. Note that you can keep the `// +heroku goVersion 1.14` line to use 1.14,

[2020-03-23 12:41] danp commented on #394
Hi,

I think I have a branch which fixes this. If you're up for trying it, read on. Otherwise, a fix should be pushed out in the next day or two. I'll update here when it's out.

To try the branch, use `heroku buildpacks:set` to change the Go buildpack's source. For example, if `heorku buildpacks` against your app only shows `heroku/go`, you can use `buildpacks:set` like so:

[code]

If `heroku bu

[2020-03-24 20:07] jeffprestes commented on #377
I need this feature too. I can't deploy my new version as I can't make the buildpack download private libs from my bitbucket.org projects

[2020-03-25 15:21] pyorot commented on #394
Thanks for being on top of this. My fix was to set `// +heroku goVersion 1.12`. Won't have time to test the resolution but will be able to confirm that bumping it back to 1.14 works. Cheers

[2020-03-29 11:50] beanieboi commented on #394
@danp i tried your branch and it worked for my project.

[2020-04-05 14:28] codedius commented on #394
@danp any news when it's released?

[2020-04-08 21:30] Julio-Guerra opened #400 "Further specifying build flags"
Hello,

I can't find any way of passing custom build flags to the Go compiler.
I tried using the `GOFLAGS` environment with `heroku config:set GOFLAGS="my extra flags"` but I doesn't work.

Ideally, I need a solution to pre-install a tool that I pass to the compiler through its flags:
1. `go install my-tool`
2. `go build <my options with my-tool> app`

Is it possible? I will otherwise have to move

[2020-04-08 21:55] Julio-Guerra commented on #400
I am digging into the custom buildpack right now with a `compile` script doing:

1. `go install` the tool
2. create the `$buildpack_dir/export` script with the `GOFLAGS` env var value to use.

So that users should be able to use the default go buildpack + mine (first).

[2020-04-09 11:03] Julio-Guerra commented on #400
FYI, this solution works: https://github.com/sqreen/heroku-buildpack-go/tree/master/bin

The only problem I foresee will be users compiling multiple Go binaries while not willing to use the tool on all of them, while `GOFLAGS` makes the tool generally available.

I thinks it a good enough solution for me now, but adding the ability to customize the Go compiler flags for each Go build, directly in

[2020-04-13 04:55] gabriela-sartori opened #402 "Heroku not deploying using go modules (go.mod/go.sum)"
-----> App not compatible with buildpack: https://buildpack-registry.s3.amazonaws.com/buildpacks/heroku/go.tgz
       More info: https://devcenter.heroku.com/articles/buildpacks#detection-failure
 !     Push failed

[2020-04-13 07:17] #402 closed, assigned to nobody

[2020-04-16 18:00] ghost commented on #400
These are the flags that are currently sourced from the environment: https://github.com/heroku/heroku-buildpack-go/blob/289f452a803b671c74da32caa98c132037c55e2b/lib/common.sh#L208-L221

Adding the following would solve your problem (AFAICT):
envFlags+=("GOFLAGS")

Maybe @danp or @heroku/languages are interested in doing so.

[2020-04-18 09:37] #394 closed, assigned to nobody

[2020-05-07 13:17] tomandersen commented on #301
Ran into this today, so it's still happening. I used the GOVERSION env variable set to 1.14.2 to get my app running.

Maybe the Heroku docs can make more of deal about setting GOVERSION in the env?

[2020-05-08 13:52] jheth commented on #377
Yes please! We need this too.

[2020-05-09 14:29] frederikhors commented on #376
@freeformz any news on this?

[2020-05-16 15:40] abitrolly commented on #378
I am using `go 1.14` with `go 1.13` line in `go.mod` without any Heroku specific modifications. And while everything works ok on my machine, the buildpack fails.
[code]
I think it would fix all the problems if the buildpack could just detect and bump the minimal viable version to 1.13 without CVEs.

[2020-05-22 08:43] axetroy commented on #301
I also got this issue

I found it has been closed, can someone tell me how to solve this?

[2020-05-22 12:20] tomandersen commented on #301
Axetroy - In your Heroku app dashboard, go to settings, "Reveal Config Vars" then add one

GOVERSION with value 1.14.2 or whatever you need.
<img width="866" alt="Screen Shot 2020-05-22 at 8 19 48 AM" src="https://user-images.githubusercontent.com/221405/82667015-0754f800-9c05-11ea-982d-0d84ac8393b6.png">

[2020-05-22 12:22] axetroy commented on #301
@tomandersen I did n’t read your last comment carefully before I sent the comment, anyway, thank you ❤️

[2020-06-15 03:56] ebitogu opened #415 "Push rejected, failed to compile Go app."
My src directory is in this format
[code]
where main.go has package main like this
[code]

Yet, whenever I do `git push heroku master` I get

Any ideas on how to resolve this?

[2020-06-15 19:49] ghost commented on #415
Remove the src directory and use go modules and you should be good.

[2020-06-16 17:55] ebitogu commented on #415
I am using go modules already

[2020-06-16 19:19] ghost commented on #415
Where in the directory structure is the go.mod file ? It needs to be at the root of the repo.

[2020-06-18 06:48] fdr opened #416 "Getting environment variables in the go-post-compile"
`env_dir` is passed positionally to the build pack per normal, but is not forwarded to `go-post-compile`. Nor is it set to an environment variable. And it's not obviously relatively positional to any directory I do have.

So, in order to look at application configuration, it appears I'll have to fish around in `/tmp` for a well-known key. Seems bad.

[2020-07-05 09:09] hansputera commented on #415
I've the same issue

[2020-07-05 09:09] hansputera commented on #415
You can look at my repository

[2020-08-03 15:12] edmorley opened #421 "Switch default branch from 'master' to 'main'"
As part of ensuring inclusive language is used throughout all Heroku repositories, we should switch from the current default branch of `master` to `main`.

This will involve:

- [x] Creating a new branch `main`, based off current `master`
- [x] Changing the default branch in GitHub to `main`
- [x] Updating the branch protection settings
- [x] Updating the target branch of any open PRs
- [x] Updati

[2020-08-04 22:41] edmorley commented on #421
Analysing buildpack URLs used ([slack](https://heroku.slack.com/archives/C1RU92Y1L/p1596575218489500?thread_ts=1596479766.483800&cid=C1RU92Y1L)), I found only 1 app using the `#master` form with this buildpack and it hasn't had a deploy since 2018, so we should be good to just delete the old `master` branch.

[2020-08-04 22:41] #421 closed, assigned to edmorley

[2020-08-12 18:47] frederikhors opened #423 "Go 1.15"
To track 1.15.

Thanks.

[2020-08-18 13:24] #423 closed, assigned to nobody

[2020-12-02 18:35] djgilcrease opened #436 "Allow specifying the golangci-lint version"
This is currently hardcoded to 1.20.0 and I would like to use a newer version as v1.33.0 is currently the latest. Maybe make the install command something like;

`curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b ${build}/.heroku/golangci/bin ${GOLANCI_VERSION:v1.20.0}`

That way you do not need to create a new release every time a new version of `golangci

[2020-12-14 17:23] ORBAT opened #439 "Custom build tags"
Are custom build tags / constraints possible?

The previous issue about this (#365) was closed as it was resolved without actually needing custom build tags, but I've got a case where I'd need to include build tags so that I can enable features in one of my (external) dependencies.

[2020-12-30 22:01] JodyZ0203 commented on #384
The buildpack does not even exist, so that might be the issue.

[2021-01-07 19:06] #332 closed, assigned to nobody

[2021-01-07 19:09] #137 closed, assigned to nobody

[2021-02-05 02:14] kainosnoema opened #446 "Builds failing on Go 1.16rc1"
Ran into two separate issues with Go 1.16rc1, both related to changes in `go install`.

#### 1. The `+heroku install` directive no longer works with packages outside of the module.

For example, I'm currently using it to install additional packages such as `golang-migrate`:

In `go.mod`: `// +heroku install -tags postgres . github.com/golang-migrate/migrate/v4/cmd/migrate`

But build setup is now

[2021-02-05 15:16] danp commented on #446
Hey, thanks for this report. I believe these are both from the changes described in the [Modules section of the (draft) release notes](https://tip.golang.org/doc/go1.16#modules).

The bin/test issue is pretty straightforward to fix, I think, and I have an initial take at that locally.

For the `+heroku install` issue:

For your example, I think ultimately we'd like to run `go install .` for your a

[2021-02-05 15:40] danp commented on #446
Sorry I didn't call it out explicitly but you are totally right: another option for this is to say that with 1.16+ something like tools.go must be used. That is not my favorite since it does clutter your module with deps/etc related to the installed tool(s).

Another similar option is to not support installing extra things in 1.16+, instead recommending some other method be used to fetch needed bi

[2021-02-17 08:04] edmorley commented on #271
@GuruJustin Hi! Your error is not related to either the Go buildpack, or the issue the original reporter had above. Support issues (rather than bugs) are best reported at https://help.heroku.com . Also in general it's best practice to create new issues (for bugs) on a GitHub repo if there isn't a recent + definitely related existing issue, rather than commenting on much older issues. Hope you get

[2021-02-17 14:11] danp commented on #446
Hey there,

v152 of the buildpack was [just published](https://devcenter.heroku.com/changelog-items/2032). That should fix the bin/test issue, please let me know if not.

I haven't had a chance to create a change/fix for `+heroku install` but hope to do that soon.

[2021-02-17 14:38] lgarbo opened #452 "Error decompressing go1.15.8.linux-amd64.tar.gz"
Here the error log:

[code]

[2021-02-17 15:02] danp commented on #452
Sorry about that, should be fixed now. Can you please confirm?

[2021-02-17 16:01] lgarbo commented on #452
Yes! Thanks!

[2021-02-17 16:01] #452 closed, assigned to nobody

[2021-02-17 17:22] weeebdev opened #453 "Push rejected, failed to compile Go app."
![image](https://user-images.githubusercontent.com/48881444/108242037-abf56d80-7176-11eb-9ede-be0c2b978e9c.png)

![image](https://user-images.githubusercontent.com/48881444/108241966-997b3400-7176-11eb-851d-32ef81fa8832.png)

go.mod
[code]
Could you say me why it doesn't work? Dockerfile, heroku.yml, Makefile and Procfile were copied from https://github.com/heroku/go-getting-started

[2021-02-18 19:05] danp commented on #453
Thanks for the report.

The getting started app could use an update. I do notice that in the go.mod you shared, there's a `go 1.15` line but no corresponding `// +heroku goVersion go1.15` line. This means the buildpack will use the default version, which is still 1.12.

Would you be up for trying to add the goVersion line? Something like:

[code]

The buildpack should not hide the error here, that

[2021-02-19 01:38] darren opened #454 "Failed to compile Go app without vendor on Go 1.16"
go.mod
[code]

Push failed log:
[code]

run[ this](https://github.com/heroku/heroku-buildpack-go/blob/d8c4bd118ca00501fd7f3ec39c3764df0c6f48f6/bin/compile#L426)  locally fails with error:

[code]

[2021-02-19 12:07] weeebdev commented on #453
@danp
I did, but it still doesn't want to install it. I tried without getting started app template, just using `go mod`, but it still doesn't want to deploy. I [asked a question on StackOverflow](https://stackoverflow.com/questions/66256916/how-to-deploy-go-app-in-the-monorepo-to-heroku), so let me copy it here:
<hr/>
I tried to deploy a Go app from monorepo with the help of go mod, but it didn't

[2021-02-19 12:32] danp commented on #454
Thanks. If you then run `go mod vendor` locally, does it change vendor/modules.txt? If so, can you please try committing those changes and pushing again?

[2021-02-19 12:39] danp commented on #453
Thanks. Checking: did you try adding `// +heroku goVersion go1.15` to your go.mod? The most recent example you gave did not include it.

Could you also please clarify what you mean by:

The git commands you're running would be helpful.

Thanks!

[2021-02-19 12:39] darren commented on #454
@danp
Yes, run `go mod vendor` and commit vendor/modules.txt will make it compile successfully. But this is not necessary in previous versions.

[2021-02-19 12:55] danp commented on #454
Could I please clarify what your situation was?

Was this a brand new app or were you updating it from a previous Go version to 1.16?

If updating, what Go version were you using before? What did the `go` line in go.mod say?

Did you have a vendor directory previously?

If you were updating from pre-1.14 to 1.16, the need to run `go mod vendor` again may be due to the changes mentioned under "Vend

[2021-02-19 16:49] weeebdev commented on #453
@danp Let me explain briefly.
I have a monorepo with the following  structure:
[code]
I need to deploy it to Heroku, but then I faced some issues with deploying a monorepo to Heroku. So I pushed _backend_ folder
 to another repo using `git subtree push --prefix backend remote main --squash` and from here I tried to deploy it via Heroku's deploy, but it shows me this:
[code]

[2021-02-19 17:06] danp commented on #453
Thanks. And I realize now that you are getting go1.15.8 based on the build output.

And double checking: if you run `go mod vendor` again in the backend directory, does vendor/modules.txt change?

I was able to take https://github.com/heroku/go-getting-started, follow these steps, and then do a successful push:

1. clone https://github.com/heroku/go-getting-started somewhere and cd into it
2. `mkd

[2021-02-20 08:31] weeebdev commented on #453
@danp do I need to have `static` folder?

[2021-02-20 09:59] weeebdev commented on #453
@danp now it shows this:
[code]

I am sorry, but could you investigate my repo? I think, I'm doing something wrong. Thank  you!
https://github.com/Masters-and-Abu/Tolqyn-backend

[2021-02-22 15:47] danp commented on #453
In go.mod, can you please try changing this:

[code]

to this:

[code]

(note space removed between `go` and `1.15`)

[2021-02-23 16:45] weeebdev commented on #453
@danp I don't know whether it may be a solution, but I finally deployed it via `godep`. Followed instructions from the official docs https://devcenter.heroku.com/articles/go-dependencies-via-godep

[2021-02-27 13:49] weeebdev commented on #453
It worked!

[2021-02-27 13:49] #453 closed, assigned to nobody

[2021-03-05 18:30] joesiewert opened #455 "Way to set GO111MODULE for 1.16?"
Our app is deploying successfully on 1.15, but gives the following error when deploying on 1.16. I'm pretty sure we need `GO111MODULE=auto` set, but it doesn't look like the buildpack looks for that right now? This app has not been migrated to modules yet and is currently using `dep` instead.

https://blog.golang.org/go116-module-changes

[code]

[2021-04-02 02:37] darren commented on #454
Not reproducible on heroku now, I shall close it.

[2021-04-02 02:37] #454 closed, assigned to nobody

[2021-04-09 20:13] giancarlosisasi commented on #415
Same here :(

[2021-05-13 04:21] lorezi commented on #415
I have the same issue

[2021-05-26 12:49] nonunknown opened #465 "Custom Vendoring doesnt work!"
Hi, I'm using golang vend -> https://github.com/nomad-software/vend

so, when using `heroku local web` it works perfecly, but when sending to heroku this happens:

![image](https://user-images.githubusercontent.com/58845030/119662341-a8bded80-be07-11eb-80f1-592d42de5709.png)

this is the `go.mod` file:
![image](https://user-images.githubusercontent.com/58845030/119662407-ba9f9080-be07-11eb-8f37-a4

[2021-06-25 11:52] txbrown commented on #415
Same issue all of a sudden

[2021-06-25 15:14] iseolin76 opened #467 "go: command not found"
The go command does not work even though the go build pack is applied.
version: 1.16
Below is the corresponding log.

<img width="939" alt="스크린샷 2021-06-26 오전 12 12 08" src="https://user-images.githubusercontent.com/65021545/123445744-277a9600-d613-11eb-8210-0a97adc12285.png">

The following is my file directory

<img width="158" alt="스크린샷 2021-06-26 오전 12 17 43" src="https://use

[2021-07-10 11:32] pemistahl commented on #467
I just stumbled over the same problem. The command in your `Procfile` is wrong. Instead of writing `web: go run main.go` you need to enter `web: /bin/your-app-name`. The app name is equivalent to the name of your git repository.

This is pretty badly documented, I must say. It took me quite some time to figure this out. The Heroku guys should improve their docs.

[2021-07-28 18:17] darmie opened #470 "go_pre_compile does not work"
I followed the instructions in the readme for `go.mod` setup, I have compiled a golang executable to be run and generate database specific code before building the actual app, I named the executable `go_pre_compile` and put it in the `bin/` directory relative to the project path... It doesn't work!

[code]

[2021-07-28 18:35] darmie commented on #470
I just figured that the naming convention was wrong, it should have been `go-pre-compile` instead.

Now, It doesn't have access to the environment variables ....

[2021-07-28 18:37] darmie commented on #416
I am having this problem with `go-pre-compile`.. who has a fix??

[2021-08-19 10:02] mble commented on #467
Yes, we should make this clearer that the buildpack first builds your binaries and does not include a copy of the toolchain. We do explain this here https://devcenter.heroku.com/articles/go-support#runtime-behavior, but it is pretty out of the way.

[2021-08-19 10:06] mble commented on #470
@darmie This is a bit unfortunate – as part of the Buildpack API (https://devcenter.heroku.com/articles/buildpack-api), config variables are not available directly during the `compile` step of the buildpack.

Typically, you'd have to reach into `ENV_DIR` and extract them if you need them at compile time.

[2021-11-09 15:45] abitrolly commented on #378
@edmorley I fixed the issue in #411, but I need help correcting the proxy tests, which may rely on some specific features of Go 1.12.

[2021-11-30 18:34] kwboyd-shopify opened #479 "Error decompressing go1.16.10.linux-amd64.tar.gz"
Appears to be the same thing that was happening in #452.

We're seeing this failure:
[code]

[2021-11-30 22:39] edmorley commented on #479
@kwboyd-shopify Hi! Sorry for the disruption. The missing binaries for the new Go release have been published as of v159 (#480), which should resolve the error you were seeing.

[2021-12-01 07:24] #479 closed, assigned to nobody

[2021-12-01 16:18] kwboyd-shopify commented on #479
Thank you @edmorley!

[2022-03-15 21:12] #470 closed, assigned to nobody

[2022-05-08 00:28] unownone opened #486 "Mulitple instances of app running"
I am trying to deploy a go Fiber server . It's code can be found here :- [go-chat](https://github.com/unownone/go-chat) . I have a few hubs and I want it so that every time someone connects they are put into one of the many hubs . Problem is go buildpack for some reason is running about 3-4 instances of the main app , making it very hard to actually share multiple connections with one hub. How sho

[2022-05-08 00:32] unownone commented on #486
# Trying to Debug.

Using a fmt.Println() in the server to diagnose what might be the issue.
[code]

This is the output for the code.
[code]

[2022-05-09 18:45] joshwlewis commented on #486
Hi, it looks like you have `Prefork` enabled in your fiber settings, which will spawn multiple Go processes. Your logs look as I would expect in that mode. You may want to turn off prefork if that's not what you want. More details here: https://docs.gofiber.io/api/fiber#config.

This doesn't seem like an issue with the buildpack, though. For issues running your app on Heroku, support.heroku.com is

[2022-05-09 18:45] #486 closed, assigned to nobody

[2022-06-01 02:10] abitrolly commented on #378
#411 is merged, so this issue will be fixed in the next buildpack version aka v162.

[2022-06-13 20:16] joshwlewis commented on #378
This has shipped with v163!

[2022-06-13 20:16] #378 closed, assigned to nobody

[2022-06-13 20:19] edmorley commented on #378
(I forgot it was me that filed this! 😆 )

[2022-08-09 20:38] o-ohst opened #495 "Requested file unknown to the buildpack"
While trying to deploy my app to heroku via git, I encountered this issue:

[code]

The app had successfully been running on go 1.17 before, but I have not been able to deploy new changes since then

My go.mod file says "go 1.17". I also tried adding the heroku goVersion options but it did not work.

[2022-09-06 23:13] gaffneyc opened #497 "Add Go 1.18.6 and 1.19.1"
Go 1.18.6 and 1.19.1 are security releases to address [CVE-2022-27664](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-27664) and [CVE-2022-32190](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-32190)

https://groups.google.com/g/golang-announce/c/x49AQzIVX-s

[2022-09-08 19:04] #497 closed, assigned to nobody

[2022-09-08 22:51] joshwlewis commented on #495
@o-ohst `go 1.17` in my `go.mod` works fine for me and resolves to `go1.17.10` during the build. `go1.17.linux-amd64.tar.gz` is known to the latest versions of the buildpack, as far as I can tell. Maybe check the output of `heroku buildpacks --app yourappname` to make sure you aren't using an older or forked buildpack version. Otherwise, I'd suggest opening a ticket at help.heroku.com so we can di

[2022-09-09 06:31] edmorley commented on #495
The build log shows the latest stable release being used:

[code]

My first thought was that there were stray unicode/control characters in the requested version string, that weren't immediately visible in the log output, however checking now that doesn't seem to be the case.

The only thing I can think of here is if the `jq` invocation is exiting non-zero for a reason other than the archive not b